[2017-10-03 20:45] psychocrypt opened #1 "Error CL_INVALID_WORK_GROUP_SIZE"
The error `Error CL_INVALID_WORK_GROUP_SIZE when calling clEnqueueNDRangeKernel for kernel 0.` still exists and was described in issue https://github.com/fireice-uk/xmr-stak-amd/issues/93.

This is a reminder for me, I already found the reason for this bug.

[2017-10-03 20:50] psychocrypt opened #2 "check nicehash pool support"
During the refactoring I have remove the nicehash pool support, I added it back with https://github.com/fireice-uk/xmr-stak/commit/1f40f88a0c031db1bb04fa39a51117263eb27155.

I have not tested if it runs without issues, therefore a runtime test is needed.

- [ ] do test against the nicehash pool.

[2017-10-03 20:52] fireice-uk opened #3 "Dry (no gpu) build fails on my laptop"
CMake output doesn't seem to mention CUDA:
[code]

Build then fails with:

[code]

CMake output from xmr-stak-nvidia:

[code]

[2017-10-03 20:54] psychocrypt opened #4 "active self test"
All old miner versions contains a self test of the cpu miner. The code is currently not called and returned always true.

# Todo

- [ ] Activate and test the *self test* functionality.

[2017-10-03 21:00] psychocrypt opened #5 "OpenCL name of a VEGA GPU"
The auto suggestion for the AMD backend will add the name of the GPU as comment into the config.
What is the name of the VEGA gpu provided by OpenCL?

**Could someone from the communityplease  provide us with the config created by the auto suggestion!**

This information is needed to improve the auto suggestion for VEGA gpus.

[2017-10-03 21:05] psychocrypt opened #6 "cpu auto suggestion"
The CPU backend is loaded as last backend. Each backend is provided with a thread offset (number of threads from other backends started before the backend).
If the thread offset is not zero than we have GPUs in the system, in this case the CPU auto suggestion should prefer `low power mode` over hyper threads to keep cores free to handle the gpus.

[2017-10-03 21:25] psychocrypt opened #7 "backup pools"
It would be usefull to allow that a list of pools with there login data (username, pool passwd, address) can be configured.
A json array like for `cpu_thread_conf` would be the best.

If we add a `value` to each pool entry that can be set by the user for each pool and a additional flag ( a new variable those is not part of the pool array) what the value means we can allow two cases:
- fail over: T

[2017-10-03 21:38] psychocrypt opened #8 "split hash report into backends"
Currently the hash report shows all backends within a table. By adding a type to each backend (in `iBackend.hpp`) we can split the table into a overview per backend.

[2017-10-03 22:20] fireice-uk opened #9 "[FLAVOURS] Have a look at xmr-stak-cpu-mock"
This is how I would see the current xmr-stak-cpu, xmr-stak-amd and xmr-stak-nvidia repositories.

This allows are a couple of critical things:
- Hashrate stats are preserved as we can use ifdefs to have xmr-stak flavours version differently
- Allows us to have different binary builds that don't need NVIDIA users to get AMD dlls (and vice versa)
- Allows us to easily create GUI and non GUI versions

[2017-10-03 22:24] fireice-uk opened #10 "Remove lingering -cpu mentions in web and cmake"

[2017-10-04 08:37] psychocrypt commented on #9
Thank you for opening the discussion.

If I get it correctly you would prefer *independent* miner releases for each back-end.
From the perspective of a non experienced user the different back-ends will confuse. Some of the user not know which hardware they own but will be interested in mining.

This is still possible after #8

With the current code base there is not need that a AMD miner needs any

[2017-10-04 08:40] psychocrypt commented on #10
What would you like to change in the versioning?

[2017-10-04 12:28] fireice-uk commented on #9
Keep in mind that I'm a meritocrat. I will like whatever works best - and I like your solution.  I like the dynamic loading idea especially. Provided that it works. If everything checks out we will do it your way.

Question then is what to do with the current xmr-stak-cpu, -amd and -nvidia repos. I don't want to invalidate old links.

[2017-10-04 14:17] fireice-uk commented on #9
I had a couple helpful people from supportxmr.com run the code and it works, when there are no dependencies LoadLibrary fails cleanly. I'm on board with this solution.

In fact I think the first order of business would be to extend it to TLS libs.

[2017-10-04 14:19] fireice-uk commented on #10
We will do it your way, so that part is dropped :).

[2017-10-04 17:13] anhphan commented on #5
I use self build on windows with only one custom offtion `-DCUDA_ARCH=50;61` because cuda 9 drop computed 2.0

Just tested on server with RX Vega 56 (blockchain driver) and GTX 1050Ti (only install cuda 8 runtime - no cuda 9)

xmr-stak auto disable AMD backend so cannot give you the name it generated.

Don't know how to force it enable.
[code]

[2017-10-04 17:37] psychocrypt commented on #5
The opencl library from the installed cuda is selected instead your amd
opencl lib.
Set the path to the amd libopencl.so

`LD_LIBRARY_PATH=PATHTOOPENCL:$LD_LIBRARY_PATH ./xmr-stak`

you can find the path to amd opencl with `find /usr | grep -i libopencl`

Am 04.10.2017 7:13 Nachm. schrieb "Anh Phan Tuan" <notifications@github.com

[2017-10-04 17:41] anhphan commented on #5
It's windows server 2016, not linux, and platform index 1 is correct index for AMD (NVIDIA is 0)

[2017-10-04 17:42] psychocrypt commented on #5
ignore what I am wrote before. It could be a bug that the autosuggestion stops of a non amd gpu is found. I need to check it today.

Please compile with the cmake option `-DCUDA_ENABLE=OFF` mabe this helps to activate the amd gpu.

[2017-10-04 17:45] anhphan commented on #5
AMD can be active if i manual created amd.txt file with thread and platform info copy from old amd version, it's just autosuggestion not work, (and large page not work too)

[2017-10-04 17:47] anhphan commented on #2
Nicehash is totally broken, I try with both cpu backend and amd backend, both receiver 100% reject with error on the web page:

`Invalid nonce; is miner not compatible with NiceHash?`

[2017-10-04 17:50] psychocrypt commented on #5
Could you please open an issue for the large page support and descriibe if
you mean the option within config.txt or how you see that is not working.

Am 04.10.2017 7:45 Nachm. schrieb "Anh Phan Tuan" <notifications@github.com

[2017-10-04 17:51] psychocoderHPC commented on #2
Could you provide me with your config.txt thus I can try to mine against your nicehash account to fix the issue.

[2017-10-04 17:55] psychocrypt commented on #2
Could you provide me with a config.txt which I can use for testing. I will spend my hash power to your account to fix it.

[2017-10-04 17:55] anhphan commented on #2
The config file is attached.

[config.txt](https://github.com/fireice-uk/xmr-stak/files/1356859/config.txt)

[2017-10-04 18:11] anhphan opened #11 "Large Page is not working"
The large page currently not working, it always show "MEMORY ALLOC FAILED: VirtualAlloc falled.", the older version work fine.

Normally with old version I can get about 90H/s each double thread (lower_power_mode = true - 2 x CPU E5-2670v2),
![image](https://user-images.githubusercontent.com/1614690/31191854-b60b40ca-a969-11e7-8572-6c9b6b1f6b86.png)

but for universal version it only get about 50H

[2017-10-04 19:10] psychocrypt commented on #5
@anhphan Your AMD detection bug should be fixed with #13

[2017-10-04 19:27] fireice-uk commented on #11
Can you verify that fix from #12 is working?

[2017-10-04 19:31] anhphan commented on #5
It's work.
Here is autosuggestion for my RX Vega (2xVega56 + 1xVega64) and the name is `gfx901`, as I remember I already see this name somewhere, maybe claymore

[code]

[2017-10-04 19:33] psychocrypt commented on #5
thx for testing: What is the best intensity and worksize for both gpu types?

[2017-10-04 19:42] anhphan commented on #5
Internet say that will be run two theards per gpu, one with 2016, and one with 1600, but for me, on blockchain driver best is run both two thread with intensity 1920 (gpu memory consume will be ~7721).

It's not difference between RX Vega 56 and 64. When have enough high intensity, best hashrate not effect much from change it's value, most problem is how to keep gpu running cool without throttling

[2017-10-04 19:51] anhphan commented on #11
Confirmed the pull #12 is working well.

![image](https://user-images.githubusercontent.com/1614690/31196439-f7c497d8-a977-11e7-97f9-39819fa49d5d.png)

[2017-10-04 20:06] anhphan commented on #5
Ah, forgot to mention, it's seem intensity will belong driver very much, haven't test RX Vega on normal driver, but tested Vega FE (16GB) on normal driver and blockchain driver.

On blockchain driver i can even put 4 threads per gpu with intensity 1920, It's can run without error (only just cannot computed because stak cannot communication with mining threads).

But on normal driver, with 2 thread

[2017-10-04 20:09] psychocrypt commented on #2
@anhphan Thx for providing me with a account, the nice hash support is fixed in #14

[2017-10-04 20:36] anhphan commented on #2
It's fixed somewhere but it's not completely fix.
Will try more with each backend (cpu, amd). This is my result when running both amd and cpu (5.5kh amd + 0.9kh cpu)

![image](https://user-images.githubusercontent.com/1614690/31198367-3b0afc8e-a97e-11e7-9f8c-aa03ba9f82c5.png)

[2017-10-04 20:49] psychocrypt commented on #5
Thanks for the information I need to think about your points and why 2 or 4
threads fits best. What is if you run e.g. with on thread but intensity
3800?

Am 04.10.2017 10:06 Nachm. schrieb "Anh Phan Tuan" <notifications@github.com

[2017-10-04 21:01] psychocrypt commented on #5
The limitation looks like a RAM limitation. To avoid that some environment
variables must be set to allow OpenCL to use the full memory with one
process.
I will add the variables tomorrow or so to this thread.

Am 04.10.2017 10:57 Nachm. schrieb "Anh Phan Tuan" <notifications@github.com

[2017-10-04 21:55] anhphan commented on #2
Seem good (with shift 8 bit as @fireice-uk indicated in review code).
45 min mining on nicehash (nh will push us very high diff if we have high speed, then maybe problem out of nonce will not happen):
![image](https://user-images.githubusercontent.com/1614690/31201525-2f2f72c2-a989-11e7-9980-1edffb76a35c.png)

[2017-10-04 22:20] fireice-uk commented on #10
Done in #15

[2017-10-04 22:20] #10 closed

[2017-10-04 22:20] fireice-uk commented on #11
Fixed in #12

[2017-10-04 22:20] #11 closed

[2017-10-04 22:21] fireice-uk commented on #9
Abandoned.

[2017-10-04 22:21] #9 closed

[2017-10-04 22:22] fireice-uk commented on #4
Fixed in #12

[2017-10-04 22:22] #4 closed

[2017-10-05 14:39] fireice-uk commented on #7
I will do it, as you can probably see from the code I intended to do this a year ago. It has so much failure surface I don't even want to think about possible things that can go wrong...

[2017-10-05 14:42] fireice-uk commented on #2
@anhphan thanks for testing this one! Closing as the fix was merged in #14

[2017-10-05 14:42] #2 closed

[2017-10-05 15:47] fireice-uk opened #20 "Rethink nonce allocation"
We have a large mix of workers now with capabilities ranging in two orders of magnitude from 10H/s to 1000H/s

If we are going to support nicehash then we are working in a very restricted space - we have 16.7 million nonces to split.

Moreover if we stop, and then resume at a pool without dropping connection we need to include that in the nonce budget, otherwise we will get collisions.

The maths

[2017-10-06 10:13] anhphan opened #21 "10s Statistic for GPU threads random show/hide"
As you see in the picture:
![image](https://user-images.githubusercontent.com/1614690/31273591-8cfd7c92-aab9-11e7-84f5-1c903de9e0ea.png)

Statistic for gpu threads is randomly show/hide for each threads, it's will change with each refresh (this threads hide, other threads show).

Beside that, when having gpu, total hashrate of 10s is always hide. Highest hastrate alway 0.

On CLI only having zero

[2017-10-06 10:46] psychocrypt commented on #21
Thx for reporting  I think I missed to set the timer to 10sec and xhanged
only the lables. Gpus needs more than 2 or 3 sec to calculate one bunch of
hashes.

Am 06.10.2017 12:13 Nachm. schrieb "Anh Phan Tuan" <notifications@github.com

[2017-10-06 13:18] fireice-uk commented on #21
This is because 10s is too short of a sample time for a gpu, the result comes back as NaN and sum is fuxored. Sample time needs to be increased to 30s or so.

[2017-10-06 13:33] psychocrypt commented on #21
@fireice-uk 10sec is fine and is now also used for the terminal output. It
was 2.5 sec before and I changed it during the refactoring. I think I
missed to update a timer somewhere which builds the statistics.

Am 06.10.2017 3:18 Nachm. schrieb "fireice-uk" <notifications@github.com>:

[2017-10-06 14:22] #1 closed

[2017-10-06 18:20] psychocrypt opened #22 "affinity randomly wrong"
I tested the thread pinning under linux. Something went sometimes wrong.
Normally I use thread 0 and 1 on my laptop. To get a higher chance to trigger the bug I configuread it to 0, 3.
Than I started the miner and looked to `htop`. In 20 -50% the second thread is going to core 1 instead of core 3.

**It looks like a race condition somewhere.**

I checked if hwloc is a problem but also without hwlo

[2017-10-06 18:35] psychocrypt commented on #22
If I disable hwloc, I can't reproduce it anymore.

[2017-10-06 19:01] fireice-uk commented on #22
What's the kernel? I have a sneaking suspicion that hwloc does not play nice with older kernels.

[2017-10-06 20:19] psychocrypt commented on #22
`Linux fwk321 4.8.0-54-generic #57~16.04.1-Ubuntu SMP Wed May 24 16:22:28 UTC 2017 x86_64 x86_64 x86_64 GNU/Linux`

I am not sure, it could be that there is something wrong with the guard during the initialization which should avoid that we use the wrong `oWorkThd`.
If I added a sleep of e.g. 1sec before hwloc and set affinity is called I get no wrong pinning.

Never the less I need to reproduce i

[2017-10-06 20:43] psychocrypt opened #25 "remove early returns"
Like in PR #24 early returns within a kernel are not defined for CUDA. To avoid side effects with other compiler e.g. Clang all early return should be removed.
This will not increase the runtime!

[2017-10-06 20:56] psychocrypt commented on #21
Should be fixed with #26

[2017-10-06 23:52] #21 closed

[2017-10-08 18:36] psychocrypt commented on #3
`nvcc fatal   : Unsupported gpu architecture 'compute_60'`

This error is coming from CUDA 7.5 because pascal is not known.

The issue that CUDA is not shown is comming from the QUITE search to show. I will fix it.

[2017-10-08 18:50] psychocrypt commented on #3
Both issues should be solved with #28, the wrong architecture for CUDA 7.5 was very often an issue in xmr-stak-nvidia. Now it's fixed.

[2017-10-09 18:26] psychocrypt opened #30 "wrong network error count"
Network errors get counted twice after the first error.

After the first error each followed error is counted as two errors.
This is can be reproduced by disconnect the system from the network during the mining. After the first error is triggert plug the system in again and after the miner get a new job unplug the miner again. Than if the next share is found the miner is counting the error as two

[2017-10-10 00:44] fireice-uk commented on #30
This has been fixed on CPU with the commit 7a6842dbd9351f4b00f0afd6cf4033036f130249 I didn't port it to other miners since at that point we were pretty much decided on unifying the miner

[2017-10-10 17:26] fireice-uk commented on #30
@psychocrypt can you do a step-by-step instruction to trigger the error? I broke it down like that:

1. disconnect the system from the network during the mining.
2. After the first error is triggert plug the system in again
3. after the miner get a new job unplug the miner again.
4. if the next share is found the miner is counting the error as two connection errors.

Step 4 never occurs since the

[2017-10-10 17:56] fireice-uk opened #32 "Remove gpu_thread_num for AMD backend"
@psychocrypt can you confirm that the autosuggestion on this backend is good enough to remove the gpu_thread_num safety?

[2017-10-10 18:02] psychocrypt commented on #32
Yes the number can be removed. Even if it is nedded the number of entries
in gpu_thread_conf can be counted.
I keeped it only to avoid more bugs during the refactoring.
The auto suggestion is working fine for my gpu and also in #5. Better
suggestion for vega coming soon.

[2017-10-10 20:09] psychocrypt commented on #20
I changed the original implementation a little bit which will be more effective than before. Never the less you are right.
The main issue is coming from the way how nicehash is cutting the 32bit index domain.

suggestions:
 - show a WARNING message as soon as the start_nonce have possible collisions
 - add something like groups (backends) which get larger index ranges, the index domain can be re-r

[2017-10-10 20:12] psychocrypt commented on #22
fixed with #33

[2017-10-10 20:29] psychocrypt commented on #30
Mhh I can't reproduce it anymore. I tested it twice but the count was always correct.

closed: issue can not be reproduced

[2017-10-10 20:29] #30 closed

[2017-10-11 18:57] psychocrypt opened #34 "GPU ERROR issue [possibly CUDA 7.5]"
This text is copied out of https://github.com/fireice-uk/xmr-stak/pull/28#pullrequestreview-68650125

The compile still fails, but we are making progress. I googled for a fix and adding `add_definitions(-D_MWAITXINTRIN_H_INCLUDED)` seems to fix the problem.

[code]

Can you make sure if that flag needs to be targeted at GCC or not.

-----------------------------------------------------
added by ps

[2017-10-11 18:59] psychocrypt commented on #34
@fireice-uk Could it be that you changed your CUDA headers? Normally CUDA 7.5 not support gcc 5.X and should crash with the error message

[code]

[2017-10-11 19:31] psychocrypt commented on #34
fixed with #35

[2017-10-11 20:32] ostap-mykhaylyak commented on #34
"Same" problem with CUDA with compile on Windows.

CPU and OPENCL work but not compile cuda ddl

[2017-10-11 21:38] #3 closed

[2017-10-11 23:12] fireice-uk commented on #25
Merged in #24

[2017-10-11 23:17] fireice-uk commented on #34
@ostap-mykhaylyak Can you confirm that you can compile ok now?

[2017-10-12 00:57] fireice-uk opened #38 "Cleanup environment.hpp"
This struct makes singleton pattern objects very confusing. Think of a better way to do it.

[2017-10-12 03:37] swcrusade opened #40 "Is there an already compiled version of this?"
Hello,

I was wondering if someone had an already compiled version for download available?

[2017-10-12 03:40] psychocrypt commented on #40
No there is currently no precompiled binary avaialable.
Everything is work in progress and the binaries will be shipped with the
release.

[2017-10-12 10:15] dgiero opened #41 "Cpu autoconfiguration"
Hi,
you wrote in the cpu.txt that on hyperthreading systems it is better to assign threads to physical cores, but I have a dual XEON wiht 10 physical cores each for a total of 40 logical cores and the autoconfiguratior gave me this:

[code]
So the miner is using 26 logical cores, 20 physical cores + 6 HTT cores.

Can you explain me this discrepancy?

I think the HTT core IDs are: 20,21,22,30,31,32

[2017-10-12 10:22] fireice-uk commented on #40
@swcrusade You are welcome to test but keep in mind that this is not a finished software product - there will be a lot of bugs and rough edges.

[2017-10-12 10:26] fireice-uk commented on #41
You have 10 physical cores and 25MB of L3 cache. So the auto suggestion algorithm assigned 13 (26MB) cores per physical package. I think this is a fairly optimal setup. You can try removing the 6 extra cores and promoting 6 other ones to low_power_mode

[2017-10-12 12:15] dgiero commented on #41
One more thing, how can I suppress the output?
I set the output file in config.txt but I still get the terminal output.
Moreover, when I send the program to background it stop.

[2017-10-12 21:13] ostap-mykhaylyak commented on #34
No compile error, but when run CUDA crash.

[CUDA] Error gpu 0: <C:/xmr-stak-dev/xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu>:214

[2017-10-13 12:24] fireice-uk commented on #34
Thanks for reporting

[2017-10-13 19:02] anhphan opened #46 "UAC handle side effect when create new process"
When xmr-stak prompt  UAC dialog to ask you, if you select yes, new process will be created and **it will ignore all command line parameter**.

Beside that, UAC handle is very annoying with who having correct setting about large page (you can even use large page when answer no), it's should have a switch or config option to enable or disable it. If it cannot turn on/off by switch/option please lea

[2017-10-13 19:14] fireice-uk commented on #46
Are you sure about that part? If yes please post the system and policy rights for the account

[2017-10-13 19:23] anhphan commented on #46
I running windows 10 x64 with the account belong Administrators group (not the Administrator) and that account linked to Microsoft account.

The local policy (edit in gpedit.msc): `Local Computer Policy/Computer Configuration/Windows Settings/Security Settings/Local Policies/User Rights Assignment/Lock pages in memory` content my account and Administrator account.

As I remember after change local

[2017-10-13 19:27] fireice-uk commented on #46
Ok, this might be a change from Windows 7 where I do my testing then. I want to do UAC support to make the miner easier to use, but you are correct about the parameter problem.

I think the only way is to have the windows build to include UAC manifest (you will need to click yes to start the program), with an optional flag to build without it.

[2017-10-13 19:34] anhphan commented on #46
Ok, build option is also good choice.

I don't have windows 7 anymore, then not sure about it. But I remember windows 7 have 4 level of UAC. Do you testing `xmr-stak-cpu` (which not having uac manifest) with level: `Only notify me when programs try to make changes to my computer`.

[2017-10-14 19:23] psychocrypt commented on #41
use `xmr-stak > /dev/null` under linux

[2017-10-14 19:29] psychocrypt commented on #34
@ostap-mykhaylyak
- Have you change the auto suggested nvidia config?
- Please post the `nvidia.txt`
- What type of gpu do you use?

[2017-10-16 12:49] ostap-mykhaylyak commented on #34
`

"gpu_threads_conf" :
[
  // gpu: GeForce GT 540M architecture: 21
  //      memory: 1690/2048 MiB
  { "index" : 0,
    "threads" : 64, "blocks" : 4,
    "bfactor" : 6, "bsleep" :  25,
    "affine_to_cpu" : false,
  },

],

`

ps. I see on my laptop this is CUDA 9.0, there is issues?

[2017-10-16 13:01] ostap-mykhaylyak commented on #34
I'm retry compile and see an error

[code]

[2017-10-16 15:36] ostap-mykhaylyak commented on #34
Installed CUDA8

When compile same error:
[code]

[2017-10-16 15:49] fireice-uk commented on #34
@ostap-mykhaylyak This is a warning, not an error. The build should have finished, unless there was some other error.

[2017-10-16 15:55] ostap-mykhaylyak commented on #34
Sorry, 59 warning 0 error

But when run have same error:
[CUDA] Error gpu 0: <C:/xmr-stak-dev/xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu>:230

[2017-10-16 20:36] psychocrypt opened #48 "double hash calculation broken"
The low power mode (or double hash) calculation is broken since #19. If I enable it the miner will hang at the beginning. The commit 9c3a71ef090ea783a1124bd981dc1ce6e79b3309 is working.

CC-ing: @fireice-uk

[2017-10-17 16:10] fireice-uk commented on #48
@psychocrypt Cannot reproduce it on dcd176ad  - can you confirm that it still exists?

[2017-10-17 16:56] huserbg opened #49 "CryptoNight-Lite support?"
Is there a plan to add CryptoNight-Lite support in this miner so it can be used for AEON mining?

Another useful feature for CryptoNight-Lite will be quad thread support (4 hashes per thread) in low power mode (but also keep double thread mode for maximum flexibility).

[2017-10-17 19:39] psychocrypt commented on #48
issue is solved with #44

[2017-10-17 19:39] #48 closed

[2017-10-17 19:56] psychocrypt opened #51 "potential race condition"
One of my test produced a race  condition. The nvidia config was written to `cpu.txt` instead to `nvidia.txt`
I used #55 rebased to the dev 6701b0c2025987674708c9984c1d76461428c09e.

I can't reproduce it (but this is the nature of a race condition), it could be that #44 is introducing this race condition.

I will investigate some time to this soon.

[code]

cc-ing: @fireice-uk

[2017-10-17 20:50] fireice-uk commented on #51
I will have a look, it is possible that duplicated singletons were hiding bugs.

[2017-10-17 21:02] fireice-uk commented on #51
@psychocrypt unless you can find a way to replicate this, this is not a race condition since you used two different variables. In whichever order the code gets executed configFileNVIDIA is not going to be set to `cpu.txt`

[2017-10-17 21:06] psychocrypt commented on #51
It can also be a wrong read within the stak or heap. I also can not see how this can be happened.

[2017-10-17 21:25] psychocrypt commented on #51
Maybe https://github.com/fireice-uk/xmr-stak/pull/44/files#r145259888 is the reason

[2017-10-17 22:47] gboddin commented on #40
Here's a CUDA friendly Dockerfile to build it just in case : https://gist.github.com/gboddin/ede88ed2beb43cd44e8205b8f4de6ce3

You'll have to adapt for your target distro after dropping the file in the root of this repo.

[code]

@psychocrypt if you need any CI and/or delivery help I can give a hand on travis or an hosted drone instance

[2017-10-18 08:00] gboddin opened #52 "Autosuggest issues and fine tuning"
Hi !

First, uber nice work on this all-in-one refactoring, thanks

I gave it a shot yesterday on debian sid + cuda 9.0 and hashrates seems more stable than 5 separate miners !

Machine A :
- Intel(R) Core(TM) i3-7100T CPU @ 3.40GHz ( 2x30H/s, but expected, who cares :) )
- rx580 4GB ( 770H/s )
- gtx 1060 3GB ( 520/H/s )

Machine B (laptop):
- Intel(R) Core(TM) i7-6700HQ CPU @ 2.60GHz ( 3x60H/s, t

[2017-10-18 09:17] psychocrypt commented on #52
Thanks for opening the issue. Could you please repeat the test and post the
reason for the rejected shares. If the miner gets a new block and just
found e.g. 4 shares for the old block than it could be that you get 4
expired shares but this can not be avoided.
If you get compute errors than we need to look deeper to found the reason.

[2017-10-18 11:57] fireice-uk commented on #51
Made you a test harness to put this one to bed, feel free to play around -> https://github.com/fireice-uk/env-test-harness

[2017-10-18 12:11] fireice-uk commented on #52
@gboddin can you confirm that the testing was on topic-nonce-final branch?

[2017-10-18 13:04] dgiero opened #53 "It doesn't work anymore on linux"
Hi,
yesterday I cloned and compiled the miner on linux and it went all good.
Today, on a different but identical pc, I have cloned and compiled the miner and it doesn't work, I made a lot of tries, the only way to make it works was to use the source code cloned yesterday.

The only thing I get is this:
[code]
then it stucks.

With the miner compiled from the old code (using the same config.txt and

[2017-10-18 13:09] psychocrypt commented on #53
Could you please clone it again and test it. I saw the same error in #44
and my tests finished without issues after I switched to the newest version.

[2017-10-18 14:23] fireice-uk commented on #53
Thanks for reporting  - fixed in #54

[2017-10-18 16:34] gboddin commented on #52
It was without the topic-nonce-final.

I'm merging, building and will report again

[2017-10-18 16:57] gboddin commented on #52
Ok first report on 950m :
Letting autoconfig gives :

[code]
however, this ends up with :

[code]

Lowering threads to 34 fixes the issue.

[2017-10-18 17:12] psychocrypt commented on #52
you can also keep the old config and increase bfactor. The timeout is
coming from the xserver. I missed the fact that many users keep the xserver
enabled :-). If to many threads are used the over all time for one bunch of
hashes increases and after a few seconds the xserver will kill the miner.
Thats equal than in windows but under linux there is more rime before a gpu
process will be killed.

[2017-10-18 18:09] gboddin commented on #52
Increasing bfactor to 8 seems to make the miner not crash anymore, but the H/s report for the 950M is on N/A and doesn't seem to move. ( I get 50/s in the 60s column but nothing in the 15s anymore ).

Anyhow, this is a hybrid laptop graphic setup (the nvidia chip is used only for mining, I'm using intel for display), so I expected rough edges and at this point, only halving the threads to 34 works

[2017-10-18 19:13] psychocrypt commented on #52
I am confused you jumped between different systems with different settings.
Could you please focus for which system the auto config is not working.

[2017-10-18 20:11] gboddin commented on #52
My bad, ok so I have 2 systems :

### Fixed computer running Debian sid ( Kernel 4.11 with default amdgpu driver and nvidia 384.90, no X except to bootstrap nvidia memory clock, killed afterwards )

1. AMD RX580 4GB ( bios timings modded, mem clock at 2100Mhz ) -> [generated-amd-rx580-4g.txt](https://github.com/fireice-uk/xmr-stak/files/1396053/generated-amd-rx580-4g.txt) : ~780H/s

2. nVidia 1060

[2017-10-18 22:20] ostap-mykhaylyak commented on #34
I recompile with last source, and can reproduce a bug.

On first run you set config of pool, xmr-stak create all config, and get CUDA error gpu
If you close xmr-stak and delete nvidia.txt everything works fine ( xmr-stak recreate nvidia.txt file )

Simply before run xmr-stak you need to delete nvidia.txt
@fireice-uk @psychocrypt

[2017-10-18 23:40] JerichoJones opened #55 "Nonce Final Test Results (See attachment)"
Pardon if formatting is messy. I've never used GitHub. All this data is in the attachment,
Hit me up on SupportXMR Chatango with questions or requests.
##########################################
GPU0: EVGA GeForce GTX 980 SC GAMING ACX 2.0
Spec Sheet: https://www.evga.com/Products/Specs/GPU.aspx?pn=472A80BC-9A78-45B1-8560-6FA1916330E8
Overclocked to GPU Freq: 1457MHz, MEM Freq: 4001
My config (Yie

[2017-10-18 23:56] gboddin commented on #52
After too much checking -_-'

Disabling the X server on the nVidia chip makes the PowerMizer run the card in the lowest perf possible (450Mhz), and depsite ```nvidia-smi -ac``` allowing the max frequency to be changed, doesn't prevent it to kick in.

[code]

That happens on both the 1060 and the 950M.

If that's the output of your distro, there's not choice other choice to keep an headless X serve

[2017-10-19 05:44] psychocrypt commented on #34
The first created config would be interesting, but you deleted the conf or?
What was the exact error after the first start.

[2017-10-19 05:50] psychocrypt commented on #52
thanks for build the summery. I will think about the issue and where it
coming from

[2017-10-19 09:37] gboddin commented on #52
I was trying to compile a debug version to give more output but :

[code]
Doesn't happen on release.

Maybe I need some dbg packages ?

[2017-10-19 10:45] dgiero commented on #53
Its working!
Thanks for your job

[2017-10-19 10:52] psychocrypt commented on #52
Asserts are only active if you compile with in debug mode. Never the less I
saw that there is a bug in the expression. I will fix it tonight

[2017-10-19 17:44] Mattthev commented on #49
Would be great. I tried to make changes like AEON-STAK-AMD and CPU have, but it fails self test always.

[2017-10-19 17:52] Mattthev commented on #34
I failed compiled it with CUDA 9, I have same problem with XMR-STAK-NVIDIA. I have installed newest CUDA Toolkit.
[code]

[2017-10-19 18:38] psychocrypt commented on #34
Please open a new issue you problem differ from the problem discussed here.

[2017-10-19 20:08] ostap-mykhaylyak commented on #34
First nvidia.txt is equal other reacreated.

Logic is:
if(nvidia.txt){delete nvidia.txt & run xmr-stak.exe}

After some time unfortunately the bug reappears even if I delete nvidia.txt file first.

[2017-10-20 18:37] Mattthev opened #56 "OpenCL 2.0 not found when CUDA is installed"
When I have only AMD SDK installed and disabled NVIDIA backend or compile XMR-STAK-AMD it has no problem detect OpenCL 2.0, but with CUDA 9 installed it only find 1.2 version.
[code]

[2017-10-20 19:27] psychocrypt commented on #53
solved with #54

[2017-10-20 19:27] #53 closed

[2017-10-20 19:32] psychocrypt commented on #52
@gboddin your assert bug is fixed in #60

[2017-10-20 19:36] psychocrypt commented on #51
@fireice-uk I tested you test case and the class is not handled ass POD. Never the less we should use `new CLASS()` to avoid side effects.

[2017-10-20 19:49] psychocrypt commented on #52
@gboddin The nvidia timeout can be a result of an illegal memory access which is fixed in #57

[2017-10-20 19:51] psychocrypt commented on #34
@ostap-mykhaylyak [This](https://github.com/fireice-uk/xmr-stak/issues/34#issuecomment-336931988) bug reported by you can be an illegal memory access and is fixed in #57

[2017-10-21 16:11] psychocrypt commented on #56
There is no need to use OpenCL 2.0.

[2017-10-21 16:20] psychocrypt commented on #52
To allocate the full memory of your amd card you need to set some environment variables before you start the miner. The limitaion is coming from the opencl standard. The variables must be set before each start.

[code]

Never the less the autosuggestion will always only use max. 2GiB memory.
This will be changes for VEGA gpus soon.

[2017-10-21 16:31] psychocrypt commented on #5
@anhphan Could you please test if you can use one thread instead of two per gpu if you set a few environment variables before the miner starts.

[code]
Than it should be possible to use one thread with intensity 3840. Ehat is the hash rate compared to two threads per fpu.

[2017-10-21 23:11] ostap-mykhaylyak commented on #34
Compile with last source, same problem.
For run i use an workaround

batch file
[code]

Unfortunately doesn't work all time.

[2017-10-22 00:19] fireice-uk commented on #34
@ostap-mykhaylyak

The latest source does not have this fix integrated. Can you use this source for testing the fix: https://github.com/psychocrypt/xmr-stak/archive/fix-nvidiaBackendCrash.zip

[2017-10-22 12:14] ostap-mykhaylyak commented on #34
Compiled source linked by you, nothing same bug :(

[code]

[2017-10-22 12:28] psychocrypt commented on #34
Could you please post the full output. You posted only the line with the
error but not the reason. Please posr also the nvidia.txt file.

[2017-10-22 12:30] ostap-mykhaylyak commented on #34
[code]

[code]

[2017-10-22 12:33] psychocrypt commented on #34
Could you please reduce the thread count.

[2017-10-22 12:38] psychocrypt commented on #34
please set threads to 32.

[2017-10-22 12:40] ostap-mykhaylyak commented on #34
Set 32, 17 or any other value, everytime crash

p.s. on xmr-stak-nvidia work with 64

[2017-10-23 00:43] fireice-uk commented on #56
@psychocrypt I get the same error. This is relevant because CMake goes after the NVIDIA's OpenCL lib and not AMD's even though `AMDAPPSDKROOT=C:\Program Files (x86)\AMD APP SDK\3.0\`  is set,

[2017-10-23 04:40] msilvoli opened #62 "CL_DEVICE_NOT_FOUND Firepro V5800"
First of all you guys are doing an awesome job, making possible for all of us to mine with different platforms.
I'm getting the following message:
Compiling code and initializing GPUs. This will take a while...
Error CL_DEVICE_NOT_FOUND when calling clGetDeviceIDs for number of devices.
WARNING: AMD device not found

System: 2 x XEON L5630 12MB L3 24GB RAM HP server DL380 G6 Firepro V5800 installe

[2017-10-23 05:47] psychocrypt commented on #56
Could you test to set CMAKE_PREFIX_PATH to amd app sdk.
Else we can try to change the order in cmake, that we first search for
opencl and than cuda.

[2017-10-23 05:52] psychocrypt commented on #56
note to myself: https://stackoverflow.com/a/44955868 could be the solution.

[2017-10-23 06:00] psychocrypt commented on #62
Please try to install only the opencl headers from your distribution and
than the fglx driver. Getting amd driver running is always a pain don't
give up. Maybe search also for howto's for equivalent desktop amd cards
from the same generation.
Sometimes the mesa driver and sametimes the fglx driver is needed,but I
think in your case fglx is fine.

[2017-10-23 06:02] Mattthev commented on #56
I've tried change the order, same problem only before CUDA search.

[2017-10-23 07:46] psychocrypt commented on #56
@Mattthev Could you please try #63, it could be that you need to set the environment variable `OpenCL_ROOT` or `AMDAPPSDKROOT` but hopefully it works without the hints.

[2017-10-23 16:12] dgiero opened #64 "Same GPU, different hashrate"
Hi,
I have a pc with dual GPU and dual CPU, the GPUs are the same, but they are performing very different.

Here the hashrate:
[code]
Here the nvidia.txt:
[code]
Here the nvidia-smi output:
[code]

Can you explain why?

Thanks

[2017-10-23 16:46] Mattthev commented on #56
It's working great, thanks. Should I close this issue now?

[2017-10-23 17:12] psychocrypt commented on #56
We close it after the PR is merged. Thx for testing and opening the issue.

[2017-10-23 18:20] #56 closed

[2017-10-23 22:07] fireice-uk commented on #20
Implemented in #45

[2017-10-23 22:07] #20 closed

[2017-10-23 22:45] fireice-uk opened #66 "[RFC] Extended mining statistics - accurate hashrates and rig types"
With xmr-stak release proxies and pools will loose the ability to differentiate between cpu, amd and nvidia miners on the same machine. This can cause problems for user interfaces. As such we would like to implement extended statistics mode.

To signal its readiness to accept extended statistics the pool / proxy should add following field to the login reply

[code]

- **extensions** is a JSON arra

[2017-10-24 06:59] xmrig commented on #66
If you has plans to extend the protocol please also add ability to indicate cryptonight-lite is used, it really headache. I known you happy doesn't support it, but it will very useful.
Thank you.

[2017-10-24 09:55] psychocrypt commented on #66
I aggree with @xmrig.
Can we define a mendentory key set and optional keys?
If so we can allow to provide much more metrics like, fanspeed, heat ...
and the pools can extent there usibility if the miner provide that data.
Mendentory keys should be a small set of core informations.
If so we should define some usefull optional keys that all miner speak the
same language.

The optional keys should be

[2017-10-24 17:42] fireice-uk commented on #66
@psychocrypt while I don't think fanspeed and heat will be useful, I like the idea of extensibility. I will amend the login / login reply for the server to pick which extensions should be applied.

@xmrig I agree

[2017-10-24 18:33] psychocrypt commented on #66
@fireice-uk If it is optional the pool can decide if it is useful but we should define metrics that they are compatible between miner.

To my ok to add the algorithm I thought again about it and came to the decision that each pool is only handling one algorithm, in this case is it really useful to add the algorithm?  @xmrig Do you have an example where it helps to have the information of the algor

[2017-10-24 18:57] xmrig commented on #66
@psychocrypt Some people try use cryptonight-lite with Monero pools, by mistake mostly, others don't change algo when connect to AEON pools. For pools it not hurt much, shares will be rejected and miner banned.

For proxy it worse, because whole proxy can be banned by pool and no easy way to detect lite algo, currently it can be detected only by hash recalculation. Of course I can add this protoco

[2017-10-24 19:43] psychocrypt commented on #49
@huserbg  @Mattthev Support is added in #67, could you please test the new miner feature and post in the PR if everything works fine or if you detect issues.

[2017-10-24 20:39] fireice-uk commented on #66
@psychocrypt I don't believe a pool should be able to dictate to its users what to do, so that would be a hard no on pool-controlled algo. If a pool / proxy implements the extension, it will be able to easily display a meaningful error to the user, who will be free to either switch algos or pools.

@xmrig Are you happy with the new version?

[2017-10-24 23:09] msilvoli commented on #62
Hi @psychocrypt
Thanks for your response. I used this 2 days to try to put the things working but without success.
I got your suggestions but it didn't work. Mesa drivers weren't installed before open this issue, only the fglrx so this is a real pain :- )
Both XMR-stak and the AMD version continued to not work. CPU miner is ok, getting 320H/s.
I upgraded Opensuse to 42.2 (but before I removed de f

[2017-10-25 05:57] psychocrypt commented on #62
Yes the vendors needs to do his homework driver installation can be a pain.
:-(

[2017-10-25 08:26] xmrig commented on #66
@fireice-uk Thank you, looks good.

[2017-10-25 12:45] dgiero commented on #64
Do I have any chance to get an answer for this issue?

[2017-10-25 12:59] psychocrypt commented on #64
It could be that the second gpu is overclocked with nvidia-smi or you have
heat issues.
If you look to the power usage of the first k20c you can see that the power
consumtion is lower.

Could you please run `nvidia-smi -q`

[2017-10-25 13:57] dgiero commented on #64
[code]

[2017-10-25 18:25] anhphan commented on #5
Have a testing today on windows server 2016 + blockchain driver.
Startup script:
[code]

With one thread `intensity=2024` the hashrate is about 1500 on vega 56. With `intensity=2032` or greater i receiver this error:
`Error CL_INVALID_BUFFER_SIZE when calling clCreateBuffer to create hash scratchpads buffer.`

[2017-10-26 14:58] dgiero commented on #64
As you can see the cards are identical

[2017-10-26 15:13] psychocrypt commented on #64
You set affinity to true. This can mean that the gpu process is pined to
the wrong cpu socket. If thw gpu is hosted on the second socket und the cpu
process is pinned to the first than the connection between gpu and cpu is
slower.
Try to set affinity to false

[2017-10-26 15:22] dgiero commented on #64
I tried all the 4 combination of affinity: TT  TF FT TT
It did chance anything

[2017-10-26 16:24] psychocrypt commented on #64
I checked the code. true is equal to false :-) add a value like 0 or 1 or
12 to pin to the core. depending on the pci slot you need to select a
core.try to use a core which is not used by the cpu miner

[2017-10-26 16:47] dgiero commented on #64
I don't get it.
Should I put affine_to_cpu" : [0-12];?
What does these numbers mean?
How do I choose among them?

[2017-10-26 16:53] dgiero commented on #64
For instance, assuming I don't use CPU mining, I have 2 cpu with 16 core each, so I can use 0 to 31  :

[code]

[2017-10-26 17:09] dgiero commented on #64
[2017-10-26 19:54:15] : Starting GPU thread, affinity: 0.
[2017-10-26 19:54:15] : Starting GPU thread, affinity: 1.
[2017-10-26 19:54:15] : Connecting to pool 192.168.85.240:54321 ...
[2017-10-26 19:54:15] : Connected. Logging in...
[2017-10-26 19:54:15] : Difficulty changed. Now: 120001.
[2017-10-26 19:54:15] : New block detected.
HASHRATE REPORT
| ID | 10s |  60s |  15m | ID | 10s |  60s |  15m

[2017-10-26 17:13] dgiero commented on #64
[code]

[2017-10-26 17:14] dgiero commented on #64
[code]

[2017-10-26 17:16] dgiero commented on #64
As you can see:
- I tried GPU solo mining with affinity to core 0 and 1
- GPU + CPU mining, with affinity to used core 0 and 1
- GPU + CPU mining, with affinity to unused core 14 and 20

No improvement

[2017-10-26 17:19] psychocrypt commented on #64
set one gpu to affinity 0 and the other to 6. But this depends on your
system configuration. Please run the newest hwloc-ls or check the mainboard
manuel which pci express slot is connected to which cpu socket.

[2017-10-26 17:22] psychocrypt commented on #64
from your last two results I can see that one gpu is on socket 0 and one on
socket 1.
My last suggestion should solve it.

[2017-10-26 17:24] dgiero commented on #64
I tried also 0 and 6 no CPU mining, nothing. :-(

[2017-10-26 17:24] dgiero commented on #64
[code]

[2017-10-26 17:27] psychocrypt commented on #64
please use 21 and 15 and post the results. sry 0 and 6 are used by the cpu
miner

[2017-10-26 17:29] psychocrypt commented on #64
try also 1 for fpu 0 and 14 for gpu 1

[2017-10-26 17:35] dgiero commented on #64
GPU Solo - 6 and 0
[code]
GPU Solo - 21 and 15
[code]
GPU Solo - 1 and 0
[code]
GPU+CPU - 21 and 15
[code]
GPU+CPU - 15 and 21
[code]

[2017-10-26 17:38] dgiero commented on #64
[code]

[2017-10-26 17:40] psychocrypt commented on #64
I need to check if we have issues with the thread pinning for the gpus.
your results are strange.
Thx for the full test documentation

[2017-10-26 17:41] dgiero commented on #64
Thanks to you for your support

[2017-10-26 19:56] gboddin commented on #52
Hi variables are set everywhere now :)

Still same results.

Ok I'm done testing with the various builds ( the debug builds works now , perfect ! ).

So yeah the 950M definitely won't start mining with the default suggested settings. I have to reduce either the threads or blocks by half.

It's a mobile gpu so it could be a bit exotic, let me know if you need any debug, strace or whatever ;)

A sma

[2017-10-26 21:43] psychocrypt commented on #52
If you lowered the thread count is this than working?

[2017-10-27 12:18] fireice-uk opened #70 "Create a sane pre-built binary for Linux systems"
For xmr-stak release I would like to have a pre-built Linux binary. @psychocrypt can you look into this one? I'm fairly busy with multipool and protocol extentions.

Suggested option: AppImage

- NOTE: VM-based systems (snap and flatpak) are out since they are likely to compromise performance.

[2017-10-27 12:22] psychocrypt commented on #70
We should build the linux binaries with docker this should be simple and we
have alredy all scripts in the repo (folder scripts).
I will check it in the next days.

[2017-10-27 12:28] psychocrypt commented on #70
We should keep signing of the pre builds but should sign only the zip
archive and than add the hash directly into the release notes for each
binary.
I planing to du binaries for ubuntu.14/16 and fedory, maybe also for arch
linux.

[2017-10-27 12:34] fireice-uk commented on #70
@psychocrypt If you can't have a single binary with built in libc in docker then let's ditch it and work with a system that enables it (Applmage).

Here are the requirements as I see it:

- Single binary for all common linux systems.
- Independent of native libc build
- Independent of native openssl
- Includes libhwloc and libmicrohttpd in the package

[2017-10-27 12:36] psychocrypt commented on #70
With docker I will build one binary with all features per distribition.
Than there will be no glibc issues.
Do you mean something other?

[2017-10-27 12:40] fireice-uk commented on #70
I don't want to have 5 separate binaries ( minimum pointful support would be: Fedora, Debian, Ubuntu, Arch and CentOS ). Hence the **Single binary for all common linux systems** requirement.

I'm open to any packaging systems that meets all of the above.

[2017-10-27 12:42] psychocrypt commented on #70
I can try appimage and will check if cuda and opencl works fine with that.

[2017-10-27 12:48] fireice-uk commented on #70
Thanks, most likely you will need to package a lot of cuda and opencl libraries, but I don't really see a problem with that. We can have a CPU-only "light" version for people that don't want to download a huge (likely in 10's of MB package)

[2017-10-27 13:01] psychocrypt commented on #70
Information: There is an very nice package manager used more and more for
HPC systems acvailable. https://github.com/LLNL/spack

With that all dependencies can be build from scratch with one command if
there is an build receipt available.

I know someone who is very active in this project, I will ask him to build
a receipt. Than `spack install xmr-stak` will compile xmr-stak with all
dependencies.

[2017-10-27 13:15] fireice-uk commented on #70
As long as all the requirements are met - I don't mind. But keep in mind that requirements are _single_ and _binary_ (I want to capture users that don't really have a lot of experience building software).

[2017-10-27 13:33] briard51 opened #71 "[OSX] Can't finish to build xmr-stak due to Apple Clang Linker"
Hi,

Thank your for developing this great xmr miner!
After successful build on Linux, I would like to build on my MacBook Pro Retina 2012 (with Nvidia inside).
My laptop begins to be to old to support CUDA 9, so I use the latest CUDA 8 with Xcode 8.2

`sudo xcode-select -s /Applications/Xcode82.app/Contents/Developer/`
[code]

I choose to use the cmake options in the .travis.yml for Mac :
`cmake -

[2017-10-27 13:37] psychocrypt commented on #71
Could you fully clean the build directory and compile again. If I
understand you correct the first compile was fine only a make clean fails.
Is this correct?

[2017-10-27 13:42] briard51 commented on #71
No, that's not the issue.
I try to reproduce the issue I've got on my laptop with a clean build folder before the build.

[2017-10-27 13:53] psychocrypt commented on #71
Maybe someone from the community can help you, I have no MAC to reproduce
the issue.

[2017-10-27 14:16] briard51 commented on #71
[code]

So the issue is related with CUDA backend which isn't linked at the end of the compilation.

Thanx Psychocrypt for your answer!

[2017-10-27 14:29] fireice-uk commented on #71
@briard51 *.so are dynamic libraries. They are linked during runtime, not compilation. Can you go back to your make output and check if the nvidia backend compiled without errors?

[2017-10-27 14:29] psychocrypt commented on #71
Yes NVIDIA backend is not found due to the broken build.

[2017-10-27 14:36] fireice-uk commented on #71
@psychocrypt this is likely to be an issue on every MAC

The problems here are:
-  (what at first glance looks like) symbol export problem
- change *.so -> *.dylib

[2017-10-27 15:08] briard51 commented on #71
I post my CMakeOutput.log
[code]

When I read the log, my OS is on 10.13 or Xcode 8.2 seems to be develop until 10.12 and doesn't recognize my early version of OSX.

If it's true, my issue maybe concern only myself with my old Nvidia Geforce 550M which can't build with recent Xcode and CUDA9 (Xcode 8.3.3 for CUDA9).
With CUDA 8 and Xcode 8.2, I succédant to build xmrig-nvidia.

So I don't know ..

[2017-10-27 15:18] psychocrypt commented on #71
Yes 550M is a fermi gpu (as I know) and fermi is no longer supported by
nvidia with cuda 9.0.
Pease check the nvidia page if there are also limitations on MacOS (naybe
clang version, ...)

[2017-10-27 15:26] briard51 commented on #71
I'm wrong, my GPU is 650M.

I also try to install CUDA9 with XCODE 8.3 but the CUDA driver won't work, that's why I downgrade to CUDA 8.

[2017-10-27 18:32] psychocrypt commented on #22
fixed with #43 and #69

[2017-10-27 20:10] fireice-uk opened #73 "Move all config to one file"
There is no point in having separate files for config. JSON values should be renamed and integrated as optional (kNullType) values.

`cpu_threads_conf` (no rename)
`gpu_threads_conf` -> `amd_threads_conf`
`platform_index` -> `opencl_platform_index`
`gpu_threads_conf` -> `nvida_threads_conf`

Autoconfig should build the config.txt by appending the relevant templates.

[2017-10-27 20:11] fireice-uk commented on #73
@psychocrypt Let me know if you can pick up this one.

[2017-10-27 20:16] psychocrypt commented on #5
I added a VEGA patch to create better auto suggestion for VEGA GPUS in #74

[2017-10-27 20:18] #22 closed

[2017-10-27 20:20] psychocrypt commented on #34
Can I close this issue?

[2017-10-27 20:22] fireice-uk commented on #34
@ostap-mykhaylyak Is the error present in the latest source?

[2017-10-27 20:34] psychocrypt commented on #73
There are a few reason to not join the config files:
  - If we merge all configs to one than it is hard to detect if we need to trigger the auto suggestion.
  - removing the file for a back-end will trigger the auto suggestion (the old way with editing the config was to error prone)
  - if an user has driver issues (mostly opencl) than the config file will created as soon as the issue is solved

[2017-10-27 20:37] psychocrypt commented on #73
IMO also big miner with many systems has an advantage with the current separation, thy can have on general config and depending on the rig back-end configs. This makes the organisation much easier.

[2017-10-28 15:11] JerichoJones opened #75 "New build failing to compile on Windows 10 x64 v1703 Build:16232.1000"
It seems to be failing building the back-end DLLs. I am using the same process as before without the AMD SDK. I have tried CUDA8 & 9. I can compile the previous build successfully.
Am I doing something incorrectly?

![image](https://user-images.githubusercontent.com/13205729/32135578-7051040c-bbcf-11e7-93c6-a39f68b68986.png)

[Compile_Log.zip](https://github.com/fireice-uk/xmr-stak/files/1424347/C

[2017-10-28 15:27] fireice-uk commented on #75
When building development code always `make clean` before you start a build. That should fix the symbols issue.

[2017-10-28 16:22] psychocrypt commented on #75
Thx for the information. I can reproduce the broken build and will fix it
soon.

[2017-10-28 16:47] fireice-uk commented on #75
@psychocrypt is it related to the mac symbols issue?

[2017-10-28 16:50] psychocrypt commented on #75
Could be the bug was introduced with #69.
I will fix it in a few hours.

[2017-10-28 22:10] Jazon22 opened #78 "hwloc: memory pinned"
I compiled the new 2.0 unified and get the message I am used to on the CPU only version, 'hwloc: memory pinned.  But I also get 'MEMORY ALLOC FAILED: VirtualAlloc failed.' and my CPU mining is slow.  Confused by getting both messages.

Any help would be much appreciated.

[2017-10-28 22:08:32] : Compiling code and initializing GPUs. This will take a while...
[2017-10-28 22:08:32] : Device 0 work s

[2017-10-28 23:08] JerichoJones commented on #78
I worked with him a bit.
Windows 10
7700K CPU
16GB RAM
Don't know model of GPU
Pagefile set to 16GB
Not the Aeon build.
GPUs are running at normal speed.
CPUs are slower than normal.

Large Pages enabled via GPO
Used TaskMgr to disable some startup processes
Run as administrator
Rebooted

AMD-STAK-CPU does not exhibit this behavior in Windows.
Linux version of AMD-STAK does not exhibit this behavi

[2017-10-28 23:11] sheepchen opened #79 "libxmrstak_cuda_backend.so: undefined symbol"
Heyho,
before I mined Monero with xmr-stak-cpu and xmr-stak-nvidia. Now i tried xmr-stak. The compiling went like a charm (except i have not the AMD sources whats OK because I only use NVIDIA)

System: i5-4 Gen. (4 Core no HT) with 4x GTX 1060 3GB

Then I start the software and this happends:

[code]

Annd.. Will the other projects be continued, or is this the leading project?

[2017-10-28 23:28] sheepchen commented on #79
to info:
The error is reproducible (obviously).
The old system (xmr-stak-nvidia and xmr-stak-cpu side by side) works fine.
Ubuntu Server 17.04

[2017-10-28 23:29] Jazon22 commented on #78
Thanks JerichoJones! I really appreciate the help and you providing the info. I couldn't figure out how to post screen shots.  You are awesome.  GPUs are 2 x  RX 570's and a RX 460.  I do have the unified version compiled in linux on the same machine and it works great.

[2017-10-29 00:31] Jazon22 commented on #78
I figured it out. I didn't look at the closed issues until JerichoJones posted.  Looking through those I found the same issue.  It was 20 days ago.  Then I realized the default dev branch was updated 27 days ago.  Downloaded the latest version 'xmr-stak-topic-appveyorCudaSupport' and it works.  Thanks for all the great work!  And thanks JerichoJones!

[2017-10-29 05:36] psychocrypt commented on #79
Thx for reporting the bug should be fixed with #76.
This reposetory is currently beta and the new upcomming xmr-stak.

[2017-10-29 07:45] psychocrypt commented on #78
@fireice-uk I saw the same memory issue like @JerichoJones with the memory
allocation on my windows laptop.
Could you please check it with your windows system.

[2017-10-29 08:21] sheepchen commented on #79
Yea, no problem. If you need any more data just say it. At the moment I run the old programs, but I leave the xmr-stack binary (+src) on server. I am an developer by myself (C#) so I now how hard it is to program an program that must run on all different systems (OS and hardware).

So if you need an testsubject I am your man ;P.

Where should I put future feature-requests? In the ‚old‘ (splitted)

[2017-10-29 09:32] psychocrypt commented on #79
If you have time you could test #76.

Please add new feature request to this reposetory.

[2017-10-29 10:17] sheepchen commented on #79
I would like to test this version. However, I am not so familiar with GIT. I am only registered at GIT to follow this project. on the main page (https://github.com/fireice-uk/xmr-stak) is only #72 available. How can I get the sources of #76?
Or do I have to download all changed files (https://github.com/fireice-uk/xmr-stak/pull/76) and exchange them manually in the source code? That seems a bit aw

[2017-10-29 10:25] psychocrypt commented on #79
You can download the zip of the PR directly e.g.
https://github.com/psychocrypt/xmr-stak/archive/fix-winCompilerAndAeon.zip

[2017-10-29 13:42] sheepchen commented on #79
First now the binary works fine. But I get worse results than with the standalone programs.
(look at GPUs)

note for all tests. GPU 0 & 1 are only xmr-stak-*. GPU 2 & 3 run also ffmpeg.

xmr-stak
--------
config:

[code]
[code]

Running several hours.

HASHRATE REPORT
| ID | 10s |  60s |  15m | ID | 10s |  60s |  15m |
|  0 | 387.6 | 387.4 | 386.4 |  1 | 307.9 | 307.5 | 306.6 |
|  2 | 203.7 | 196.

[2017-10-29 13:47] sheepchen commented on #79
XMR-GPU
status:        running
GPU 0:         425.8 H/s / 57°C / 57.90 W / 23 Tx MB / 62 Rx MB
GPU 1:         425.5 H/s / 63°C / 62.80 W / 19 Tx MB / 48 Rx MB
GPU 2:         340.5 H/s / 62°C / 60.22 W / 46 Tx MB / 267 Rx MB
GPU 3:         344.7 H/s / 56°C / 54.61 W / 45 Tx MB / 307 Rx MB
GPU Total:     1536.5 H/s
This is standard with my current setup:

XMR-CPU
status:        running
Temp:

[2017-10-29 14:05] psychocrypt commented on #79
Do you edited the 16x64 condig from the nvidia miner by hand? This is not
the autosuggestion or?
Could you test both miner with the same config.
The cpu has maybe a bug, large page allocation is broken.

[2017-10-29 14:22] psychocrypt commented on #79
memory: 831/3013 MiB Show that only 831 MiB of the 3 GiB are free.
Please end all prozesses to get the full performance. The miner create
a config to fit into 800MIB memory.

[2017-10-29 14:34] sheepchen commented on #79
I edit the GPU-config by hand and it works fine with the xmr-stak-nvidia in linux and windows 10.

This are my GPUs only with the ffmpeg-processes. (I can not stop them because I render many TB of video-material)
![grafik](https://user-images.githubusercontent.com/32341444/32144721-9e53d476-bcbd-11e7-9ffb-c2fd54824f8e.png)

This is the system with ffmpeg at 2&3 and xmr-stak-nvidia above all 4 card

[2017-10-29 14:40] sheepchen commented on #79
forget it. Problem was that i killed the xmr-stak-nvidia but even if the process-ID was invalid the GPU-RAM wasnt freed. after flushing the hole PCI-bus and restarting xmr-stak everything works find. This version (#76) is good.

The results are better, too.

[code]

The 'autosuggestion' was way off, but with my handwritten config the values are similar.

[2017-10-29 14:52] ostap-mykhaylyak commented on #34
Can't build last source :(

[code]

[2017-10-29 17:42] psychocrypt commented on #79
Thx for the feedback. Maybe we should add a cleaner shutdown where we reset
the used gpus.

[2017-10-29 17:58] psychocrypt commented on #34
There is an open PR to solve this issue #76

[2017-10-29 19:21] psychocrypt commented on #78
update: I tried it again and it work, I forgot to restart my system. After a restart everything works fine.

[code]

[2017-10-29 19:32] psychocrypt commented on #71
Could you please test #76 maybe this will solve your issue

[2017-10-30 09:26] deereslv opened #81 "Auto configuration first start- AMD GPU "intensity" : 0"
Running latest xmr-stak-dev, on linux with rx480( not OC), compile without problems, cpu backend i5  works flawlessly , but having problem with GPU.
After first start, and auto configuration, in amd.txt, suggested configuration is:
"intensity" : 0, "worksize": 8
And if i increase intensity more than 32, get many "AMD invalid result" errors.
Also tried playing with worksize , but no difference.
Som

[2017-10-30 10:31] deereslv commented on #81
CLINFO:

$ clinfo

Number of platforms:				 1
  Platform Profile:				 FULL_PROFILE
  Platform Version:				 OpenCL 2.0 AMD-APP (1800.11)
  Platform Name:				 AMD Accelerated Parallel Processing
  Platform Vendor:				 Advanced Micro Devices, Inc.
  Platform Extensions:				 cl_khr_icd cl_amd_event_callback cl_amd_offline_devices

  Platform Name:				 AMD Accelerated Parallel Processing
Number of devi

[2017-10-30 10:35] briard51 commented on #71
I downloaded your zip from your own repo, I use this cmake flags:
`cmake . -DMICROHTTPD_ENABLE=OFF -DOPENSSL_ROOT_DIR=/usr/local/opt/openssl -DCUDA_ARCH=30 -DOpenCL_ENABLE=OFF -DXMR-STAK_CURRENCY=monero`

and I've got the same issue, sorry ...
[code]

[2017-10-30 10:43] psychocrypt commented on #81
I don't know why but opencl says the miner that 0 MByte memory are
available.
I need to check where it comming from.

[2017-10-30 10:51] deereslv commented on #81
Thanks!
Btw. CPU part works really well, my old 4 core i5-2300 2.8 gives me ~674 H/s

[2017-10-30 13:45] psychocrypt commented on #81
Which OS do you use? is it an 64bit OS?

[2017-10-30 13:49] deereslv commented on #81
Ubuntu 14.04-64bit

[2017-10-30 14:08] sheepchen commented on #81
600 H/s with an i5? that cant be. An i5 4Gen give me 120 and an i7 (4790K) 4Gen ~200. 674 H/s is way off.. there must be an GPU inside this calculation..

[2017-10-30 14:14] deereslv commented on #81
Tonight when i get home i'll post terminal output  running xmr-stak with --noGPU option.
As i said ~670 H/s .
 Note, that i'm talking about Aeon mining, not Monero which is much lower

[2017-10-30 14:22] sheepchen commented on #81
oh, ok. my hault.. I mine Monero. Have no clue aboud Aeon. sorry ;)

[2017-10-30 16:52] psychocrypt commented on #81
Which compiler do you used. I think I know the reason why there is zero
memory free but I am searching where it comes from. This is a 32bit
iverflow issue.

[2017-10-30 17:07] sheepchen commented on #81
okay. my system is ubuntu linux 17.04 64 bit.

root@mpm01:~# cc --version
cc (Ubuntu 6.3.0-12ubuntu2) 6.3.0 20170406
[..]
root@mpm01:~# type cc
cc gehasht ergibt (/usr/bin/cc)
root@mpm01:~# file /usr/bin/cc
/usr/bin/cc: symbolic link to /etc/alternatives/cc
root@mpm01:~# file /etc/alternatives/cc
/etc/alternatives/cc: symbolic link to /usr/bin/gcc
root@mpm01:~# file /usr/bin/gcc
/usr/bin/gcc: symb

[2017-10-30 17:32] sheepchen opened #82 "how to download from GIT"
Hey people,

I see that fireice merged a new dev-version (#77). but I do not unterstand GIT. how can I download this new src-bundle?

Sorry, I am new at GIT.

[2017-10-30 17:38] psychocrypt commented on #82
If you cloned the reposetory than run

[code]
or on the main github page right top green button `clone or download` and
downlod the zip.

[2017-10-30 17:40] fireice-uk commented on #82
Hi. Unified xmr-stak is currently in pre-release. As you can see, the source code changes almost daily. Version control tools (git) allow us to keep track of everything. I can give you a link to the current snapshot ( https://github.com/fireice-uk/xmr-stak/archive/dev.zip )  but keep in mind that the code is unlikely to be up to date after a couple days.

We are planning to have a stable release i

[2017-10-30 17:43] deereslv commented on #81
I used gcc 6.3.0, installed from ubuntu toolchain ppa

[2017-10-30 17:44] #5 closed

[2017-10-30 17:46] psychocrypt commented on #71
I think I need to check how OSX is dynamicly linking.
I need to check how I can install CUDA in the OSX travis tests.
The hard point is that I have no access to an OSX system.
If you can provide me with ssh (no root access) to an OSX system for max 2
or 3 days where cuda, git and clang is installed I think I can fix it very
fast.

[2017-10-30 17:50] sheepchen commented on #82
Hey fireice,
i know that this is beta-code (or sometimes alpha). For this reason i have small server (i5+4xGTX1060) for testing this versions.

thanks for the commands. I set up a nightly build for this.
(And read a little bit about GIT)

[2017-10-30 17:50] #82 closed

[2017-10-30 19:58] psychocrypt commented on #81
@deereslv Could you please download https://github.com/psychocrypt/xmr-stak/archive/topic-checkOpenCLZEroMem.zip copile and runt it.
I need the terminal output of the first start.

I added two debug messages which hopefully help me to detect the issue.

[2017-10-31 01:18] snapek opened #83 "OpenCL not found when compiling on Win10 64bit."
I've been trying to get this to compile on Win10 64bit today, and keep running into errors stating the following;

C:\xmr-stak\xmr-stak\build>cmake -G "Visual Studio 15 2017 Win64" -T v140,host=x64 -DOpenCL_ENABLE=ON ..
-- Selecting Windows SDK version 10.0.16299.0 to target Windows 10.0.16278.
CMake Error at CMakeLists.txt:173 (message):
  OpenCL NOT found: use `-DOpenCL_ENABLE=OFF` to build with

[2017-10-31 06:39] deereslv commented on #81
I will do that soon as i come back home.

Just a note, last night i tried mining "Monero" (cryptonight), and despite 0 memory, i was able to make tweaking in amd.txt and there was no "AMD invalid result" errors.
So it must be something wrong with "Aeon" (cryptonight-lite) part of the miner.

[2017-10-31 09:17] deereslv commented on #81
Same problem, amd.txt shows 0 memory upon first start.

_____________________________________________________

FIRST START REPORT

./xmr-stak
-------------------------------------------------------------------
xmr-stak 2.0.0-predev mining software.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
AMD mining code was written by wolf9466.
Brought to you by fireice_uk and psych

[2017-10-31 13:56] fireice-uk commented on #73
Ok. I will drop this one, at least for now.

[2017-10-31 13:56] #73 closed

[2017-10-31 15:15] psychocrypt commented on #81
This run was only to give me some debug values.

[2017-10-31 19:51] psychocrypt commented on #81
Could it be that you are using the wrong pool address?
Your pool is:
`Connecting to pool aeoon.sumominer.com:3334 ...` but there is an `o` tom much in the address.

[2017-10-31 19:56] psychocrypt commented on #81
Could you please post the output of cmake of a clean build.
I still try to reproduce your error but can't see an error.
Is it possible to get ssh access (not root) to your system? This would give me the possibility to debug the error.

[2017-10-31 20:24] psychocrypt commented on #83
please set the environment variable `OpenCL_ROOT` to the place where OpenCL is installed.

[2017-10-31 20:24] #79 closed

[2017-10-31 20:36] psychocrypt commented on #71
@briard51 Could you please check if #84 is solving you linker issue.

[2017-10-31 20:46] deereslv commented on #81
Here is clean cmake:

$ cmake .. -DCUDA_ENABLE=OFF
-- The C compiler identification is GNU 6.3.0
-- The CXX compiler identification is GNU 6.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for

[2017-10-31 21:06] psychocrypt commented on #81
Could you please also run `ldd xmr-stak` and `ldd libxmrstak_opencl_backend.so`

[2017-10-31 21:09] briard51 commented on #71
Yes!
This fix resolve the build issue!
I haven't tested yet if the CUDA miner run.

[2017-10-31 21:17] deereslv commented on #81
________________________________________

$ ldd xmr-stak
        linux-vdso.so.1 =>  (0x00007fff4d7fe000)
        libpthread.so.0 => /lib/x86_64-linux-gnu/libpthread.so.0 (0x00007f8d55b7d000)
        libssl.so.1.0.0 => /lib/x86_64-linux-gnu/libssl.so.1.0.0 (0x00007f8d5591e000)
        libcrypto.so.1.0.0 => /lib/x86_64-linux-gnu/libcrypto.so.1.0.0 (0x00007f8d55541000)
        libmicrohttpd.so.10 =>

[2017-10-31 21:21] psychocrypt commented on #81
ok last try: could you please remove amd.txt and run `valgrind ./xmr-stak`
After the miner started to mine you can kill the miner with `Ctrl+C`

If I can't see something from valgrind than I need definitively access because I can't reproduce whats happen. All my tests runinng withou issues.

[2017-10-31 21:28] briard51 commented on #71
Now the issue is the program doesn't recognize the libxmrstak_cuda_backend.dylib to launch the CUDA Miner.
I tested to copy this file libxmrstak_cuda_backend.dylib to libxmrstak_cuda_backend.so and it works!

[2017-10-31 21:29] psychocrypt commented on #71
Thx I will add a fix for OSX that the file ending is `.dylib`

[2017-10-31 21:41] psychocrypt commented on #71
The runtime library issue should be solved with #85

[2017-10-31 21:43] psychocrypt commented on #51
I can't reproduce the issue, therefore I will close this issue.

[2017-10-31 21:43] #51 closed

[2017-10-31 21:56] psychocrypt commented on #81
I can't see anything in the log but the miner was not at the point where the file `amd.txt` is written.
Maybe it is an issue with the opencl driver but my debug output say that everything provided from OpenCL looks good.

If you can provide me a few hours access to your system please PM me on reddit (user: psychocrypt).

[2017-11-01 00:08] gboddin commented on #52
Yes.

I also noticed that reducing the thread counts on 1060s ( I have 2 now ) gave a few H/s more.

Maybe the suggest just overshoot nvidia by default ? How is this computed ?

Here's a small table with numbers which should be easier to grasp :

|Card|Bios timings modded|OC mem|Suggested threads|Hashrate|Changed threads|New hashrate|
|---|---|---|---|---|---|---|
|Gigabyte 1060 3GB|no|2350Mhz|52|

[2017-11-01 08:49] deereslv commented on #81
Don't know if you have read one of my previous posts, but running xmr-stak like this:

export GPU_FORCE_64BIT_PTR=1
export GPU_USE_SYNC_OBJECTS=1
export GPU_MAX_ALLOC_PERCENT=100
export GPU_SINGLE_ALLOC_PERCENT=100
export GPU_MAX_HEAP_SIZE=100
./xmr-stak

fixes 0 memory problem. Memory is detected and writen in amd.txt.

Only remains, "AMD invalid result" errors when mining Aeon no mater what valu

[2017-11-01 12:54] briard51 commented on #71
I confirm that your two changes resolves the issue with OSX Nvidia devices !

I tested all night long xmr-stak and it's amazing!

Thank you for everything! :-)

[2017-11-01 12:54] #71 closed

[2017-11-01 14:23] psychocrypt commented on #71
THX for the tests and for opening the issue.
The community feedback is very important to increase the code quallity.

[2017-11-02 05:02] agisubagio opened #87 "can not compile xmr-stak for nvidia and amd"
I try to compile the xmr-stak from source in Windows 7 to support CPU, AMD and NVIDIA, but I only found xmr-stak-cpu bin. How to do that?

`cmake -G "Visual Studio 15 2017 Win64" -T v140,host=x64 -DCUDA_ENABLE=ON -DOpenCL_ENABLE=ON --DCMAKE_LINK_STATIC=ON ..
`

https://imgur.com/QFmMQDj

[2017-11-02 06:38] psychocrypt commented on #87
Please copy the full output of your terminal to this issue. All importent
information before your screenshot are miasing.

[2017-11-02 06:41] psychocrypt commented on #87
Please remove one minus before -D from the cmake command!

[2017-11-02 07:24] agisubagio commented on #87
sorry my mistake... recompile it again...

[2017-11-02 09:31] agisubagio commented on #87
still no succeed...

`C:\TEMP\xmr-stak-dev\build>cmake -G "Visual Studio 15 2017 Win64" -T v140,host=x64 -DCMAKE_LINK_STATIC=ON -DCPU_ENABLE=ON -DCUDA_ENABLE=ON -DOpenCL_ENABLE=ON ..
-- The C compiler identification is MSVC 19.0.24225.1
-- The CXX compiler identification is MSVC 19.0.24225.1
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/amd64/cl.exe
--

[2017-11-02 09:41] agisubagio commented on #87
recompile again without -DCMAKE_LINK_STATIC=ON

C:\TEMP\xmr-stak-dev\build>cmake -G "Visual Studio 15 2017 Win64" -T v140,host=x64 -DCPU_ENABLE=ON -DCUDA_ENABLE=ON -DOpenCL_ENABLE=ON ..
-- The C compiler identification is MSVC 19.0.24225.1
-- The CXX compiler identification is MSVC 19.0.24225.1
-- Check for working C compiler: C:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/amd64/cl.exe

[2017-11-02 10:29] psychocrypt commented on #87
Is this now working?
Maybe you keeped the tmp files from the broken compile.
I will test it tonight again but our compile CI is checking windows compile
each time we updated something.
You you please test to compile the latest veraion in an own folder without
old data.

[2017-11-03 02:55] agisubagio commented on #87
in windows, the compile process is succeed but without -DCMAKE_LINK_STATIC=ON and OpenCL 2.0. try to recompile it in ubuntu from fresh git clone.

user@srv-xmr-5:~/Downloads/xmr-stak/build$ env
XDG_VTNR=7
LC_PAPER=id_ID.UTF-8
LC_ADDRESS=id_ID.UTF-8
XDG_SESSION_ID=c1
XDG_GREETER_DATA_DIR=/var/lib/lightdm-data/user
LC_MONETARY=id_ID.UTF-8
CLUTTER_IM_MODULE=xim
SESSION=ubuntu
GPG_AGENT_INFO=/home/use

[2017-11-03 02:56] agisubagio commented on #87
user@srv-xmr-5:~/Downloads/xmr-stak/build$ env
XDG_VTNR=7
LC_PAPER=id_ID.UTF-8
LC_ADDRESS=id_ID.UTF-8
XDG_SESSION_ID=c1
XDG_GREETER_DATA_DIR=/var/lib/lightdm-data/user
LC_MONETARY=id_ID.UTF-8
CLUTTER_IM_MODULE=xim
SESSION=ubuntu
GPG_AGENT_INFO=/home/user/.gnupg/S.gpg-agent:0:1
TERM=xterm-256color
VTE_VERSION=4205
XDG_MENU_PREFIX=gnome-
SHELL=/bin/bash
QT_LINUX_ACCESSIBILITY_ALWAYS_ON=1
WINDOWID=44

[2017-11-03 03:01] agisubagio commented on #87
compile in windows is succeed, but without -DCMAKE_LINK_STATIC=ON and OpenCL 2.0.
try to compile in ubuntu 16.04.

https://pastebin.com/XDdRSekW

[2017-11-03 11:19] sheepchen opened #88 "Autoconfiguration for GPU way off"
Hey,
I compiled the xmr-stak version for windows and tested it.

My mainworkingstation (Testsystem):
Windows 10 Pro 64 Bit
Intel i7-4790K 4Ghz uc@3.6 Ghz
Nvidia Geforce GTX 980 4GB

configs (generated automaticly):
[code]
[code]
First run crashed directly:
![grafik](https://user-images.githubusercontent.com/32341444/32369184-9935307e-c088-11e7-953c-a774e041181e.png)

I changed nvidia config like t

[2017-11-03 14:37] psychocrypt commented on #88
Could you please test the suggested gpu config and change threads to 16.
It is strange that the auto suggestion is crashing. Could you please also
post the cmake command.

[2017-11-03 15:26] sheepchen commented on #88
1. I build the system straight the commands descriped in comple_Windows.md . No special commands.
2. This is the successed config with your change:
[code]

[code]

The binary didn't crash with this config, but the system is really sluggish. Its not fun to work with it. Even the mousecurser lags 4-5 secounds behind. Also I only get 115 H/s and not 450 H/s that I get with my nice config (besides eve

[2017-11-03 18:14] psychocrypt commented on #88
Could you please also test 19 threads and 18 threads.
I found one point which is wrong in the auto suggestion and you background
running processes can be the reason for the bad performance. I know how I
can build a better auto suggestion but need the two resulta to be sure that
I do the right optimization.

[2017-11-03 18:56] sheepchen commented on #88
Not today.. tommorow I will test this. Until tomorrow you can write me more testscenarios I shall test.

[2017-11-03 19:34] psychocrypt commented on #87
@fireice-uk Do you have a system with cuda and amdappsdk installed to reproduce this issue?

[2017-11-03 20:52] psychocrypt commented on #88
@sheepchen Thx for testing: Could you please also test the #89 (please let the miner create a new auto suggestion)

You can download a zip file with the fix from https://github.com/psychocrypt/xmr-stak/archive/topic-optimizeNVIDIAAutosuggestion.zip

[2017-11-03 21:54] fireice-uk commented on #87
Yes, will do tomorrow evening most likely.

[2017-11-04 01:20] sheepchen commented on #88
here are the results
--------------------
xmr-stak-dev_20171001:
threads 20: crash
threads 19: crash
threads 18: crash
threads 17: 5 seconds extremely slow - then crash
threads 16: all extremly slow, 115 H/s, 1913/4096MB GPUMEM used

xmr-stak-topic-optimizeNVIDIAAutosuggestion_dev_20171104:
[buildprocess.log](https://github.com/fireice-uk/xmr-stak/files/1442805/buildprocess.log)
default config:
[c

[2017-11-05 02:45] CircusDad commented on #49
I know this is "closed" so I don't know if this helps or not (or will even be seen).  I ran a 10-26-2017 compile of xmr-stak on windows 10 with nicehash at the pool for 24hrs.  I was happy with results: 1596 / 1639 (97.4 %) shares accepted.  Providing details if that helps...

![image](https://user-images.githubusercontent.com/33241250/32411490-ccb82f26-c1b1-11e7-91af-17fb44c9a03c.png)

[2017-11-05 09:29] psychocrypt commented on #49
Thx for reporting.

[2017-11-05 19:53] Antreasgr opened #91 "Windows 10 with CUDA 9 compile errors"
I tried to compile on Windows 10 with Visual Studio 2017 and Cuda 9.0, and i am getting the following error:

Building NVCC (Device) object CMakeFiles/xmrstak_cuda_backend.dir/xmrstak/backend/nvidia/nvcc_code/Release/xmrstak_cu da_backend_generated_cuda_core.cu.obj CMake Error at xmrstak_cuda_backend_generated_cuda_core.cu.obj.Release.cmake:219 (message): Error generating C:/Users/Antreas/xmr-stak

[2017-11-05 20:16] psychocrypt commented on #91
You used this `cmake -G "Visual Studio 15 2017 Win64"` CMake command but the [documentation](https://github.com/fireice-uk/xmr-stak/blob/dev/doc/compile_Windows.md#compile) say `cmake -G "Visual Studio 15 2017 Win64" -T v140,host=x64 ..`

Please follow exactly the WINDOWS compile guide https://github.com/fireice-uk/xmr-stak/blob/dev/doc/compile_Windows.md#compile

[2017-11-05 20:19] psychocrypt commented on #88
Solved with #89

Note: We can not change the `bfactor` because you case is a special case where you will mine during you work with the system. Many miner needs a fast miner and interactivity is not needed.
Thanks for all you tests, maybe I will add a option into the release after the next that the user can choose between interactivity and performance during the first start.

[2017-11-05 20:19] #88 closed

[2017-11-05 21:55] fireice-uk opened #92 "Fix CMake optimisation flags"
At some point GCC optimisation flags got removed. Can you fix that?

For the release build the proper settings should be:

-O3 and NDEBUG defined

for the debug build

-O0 and -g

[2017-11-05 22:10] fireice-uk commented on #92
Sorry, my bad.

[2017-11-05 22:10] #92 closed

[2017-11-06 00:51] Antreasgr commented on #91
Thank you very much, i downloaded and installed the v140 and you were right, it now compiles correctly.
Keep in mind that the latest version of Visual Studio 2017 by default ships with the windows toolkit v141.

I now get some runtime errors related to cuda_extra.cu file. If you want any help trying to build this with the 141 version i am willing to try it out and provide logs. Thank you again

[2017-11-06 06:39] psychocrypt commented on #91
Cuda is not supporting v141. But this was cuda8 I have not checked if
nvidia changed it with cuda 9.

[2017-11-06 18:03] fireice-uk commented on #87
@psychocrypt @agisubagio Sorry for the delay -DCMAKE_LINK_STATIC=ON is only for Linux, onWindows equivalent would be /MT flag which is not implemented in out cmake build.

[2017-11-06 18:28] psychocrypt commented on #87
@fireice-uk but is the miner compiling on your tests where static is off?

[2017-11-07 00:31] fireice-uk commented on #87
@psychocrypt CUDA build fails on v141 toolchain. Miner builds normally without CUDA support. Moving the rest to #91

[2017-11-07 00:42] fireice-uk commented on #91
I also get this error. Fresh install of visual studio (v141) + cuda 9.0 fails.

This is the error message:

`  Building NVCC (Device) object CMakeFiles/xmrstak_cuda_backend.dir/xmrstak/backend/nvidia/nvcc_code/Release/xmrstak_cuda_backend_generated_cuda_core.cu.obj
  CMake Error at xmrstak_cuda_backend_generated_cuda_core.cu.obj.Release.cmake:222 (message):
    Error generating
    C:/Users/MAIN/g

[2017-11-07 00:57] fireice-uk commented on #91
CUDA header says

`#if _MSC_VER < 1600 || _MSC_VER > 1911`

So it isn't CUDA <-> VS incompatibility.

[2017-11-07 01:06] psychocrypt commented on #87
@fireice-uk But is it bulding with v140 like describted in the build
receipt?
On my system it is building but I have cuda8.

[2017-11-07 01:15] fireice-uk commented on #87
I don't have a v140 toolchain on me anymore as I'm building on a system with a clean vs2017 and v140 is a part of vs2015. Is you need vs2015 I can do it after Thursday.

[2017-11-07 01:22] psychocrypt commented on #87
note for @fireice-uk for the release we need to compile with cuda 8.
- else we loose fermi gpus (still used and give okish results)
- all binaries compiled with cuda 8 can be used on cuda 9 driver (we
support a larger user base)

[2017-11-07 01:46] fireice-uk commented on #87
Ok. Thanks for the heads-up. I'm a little lukewarm about downgrading to vs2015 for the sake of 7 year old gpus. I will have a think about it - can you look into the cuda 9 error?

[2017-11-07 01:49] psychocrypt commented on #87
Yes I will look into it I must do an upgrade first :-)
If you will not downgrade I can compile the binaries.

Note: The 7 years old gpus perform very well with aeon.

[2017-11-07 01:54] fireice-uk commented on #87
@psychocrypt It is a toss up between tree options - no fermi binary support / cuda9 binary + cuda8 backup for now / cuda8 binary.

I will ask around on MoneroMining to see which one has the best work to happy people ratio :)

[2017-11-07 01:57] psychocrypt commented on #87
Note: A Cuda9 compiled binary means that everyone needs to upgrade the
system (many support tickets)
On linux I saw a 10% performance drop between cuda 8 and cuda 9. Not sure
if windows is also effected.

[2017-11-07 09:33] B3l3tt3 opened #93 "Add a line group by thread_id in http report ?"
Not really an issue, but a request asking you if it would be possible to add a sum of the hashrate by thread_id in the html report please ?
I tried to do it but I couldn't find how/where I have to calculate the sum to print it in webdesign.

[2017-11-07 10:27] Antreasgr commented on #91
I have managed to build this and it seems to be a cmake issue.
Microsoft changed the default toolkit directory to a different scheme. The cmake variable CUDA_HOST_COMPILER is set to $(VCInstallDir)bin which is no longer correct. I have set this to a absolute path like:

`set(CUDA_HOST_COMPILER "C:/Program Files (x86)/Microsoft Visual Studio/2017/Community/VC/Tools/MSVC/14.10.25017/bin/HostX64/x64/

[2017-11-07 10:41] psychocrypt commented on #91
Thanks for the help I will try to create a workaround in our cmake to fix
it automatically if Cuda9 is enabled.

[2017-11-07 14:08] fireice-uk commented on #91
@psychocrypt just noting here that setting it to an absolute path is a bad idea for a general usage - it will change with VS service packs.

[2017-11-07 17:09] fireice-uk commented on #93
Sum by thread_id? Do you mean for Vega cards?

[2017-11-07 17:25] B3l3tt3 commented on #93
Hi, mainly for Vegas yes but actually I'm using 2 threads for each of my RX580 too and get better results.

[2017-11-08 03:12] #91 closed

[2017-11-08 23:53] fireice-uk commented on #7
Closing  - #90

[2017-11-08 23:53] #7 closed

[2017-11-08 23:57] #38 closed

[2017-11-10 20:17] hoyanf opened #102 "Card #12 having very low hashrate on 12GPU Rig"
Hi, having issue on card #12 when using 12 GPU rig.

HASHRATE REPORT
| ID | 10s |  60s |  15m | ID | 10s |  60s |  15m |
|  0 | 412.6 | 412.1 | 412.3 |  1 | 412.8 | 412.8 | 412.7 |
|  2 | 413.1 | 413.1 | 413.0 |  3 | 412.8 | 412.8 | 412.6 |
|  4 | 412.8 | 412.8 | 412.6 |  5 | 412.5 | 412.6 | 412.5 |
|  6 | 412.8 | 412.8 | 412.2 |  7 | 413.2 | 413.2 | 412.5 |
|  8 | 412.9 | 412.8 | 412.5 |  9 | 412

[2017-11-10 20:19] psychocrypt commented on #102
NVIDIA or AMD gpus? Which OS?

[2017-11-10 20:21] psychocrypt commented on #102
Could it be that this is the cpu. Because we begin to count with zero. This
means gpu 0-11 are gpus and than the cpus are countet.

To run without cpu usage start: xmr-stak --noCPU or emty the thread config
in cpu.txt

[2017-11-10 21:48] psychocrypt commented on #102
With #104 the hash report will be split the different backends.

[2017-11-10 21:48] hoyanf commented on #102
Sorry my bad... sleepy eyes, diff timezone... anyway thanks for the reply...

Only 1 request if possible to add ver no on webui.

Thanks again

[2017-11-10 21:48] #102 closed

[2017-11-12 03:18] CircusDad opened #105 "Your wallet address ;-)"
You have the following text in "[Usage.md](https://github.com/fireice-uk/xmr-stak/blob/dev/doc/usage.md)" but it's the last line in the file and you forgot to actually add your wallet :-)

"If you want to donate directly to support further development, here is my wallet"

[2017-11-12 07:31] psychocrypt commented on #105
Thx I will fix it.

[2017-11-12 15:56] true-datura opened #106 "WIN_UAC"
Compiling with options:
`cmake -G "Visual Studio 15 2017 Win64" -T v140,host=x64 -DXMR-STAK_CURRENCY=monero -DMICROHTTPD_ENABLE=OFF -WIN_UAC=OFF ..`
But binary still triggers UAC.

[2017-11-12 23:47] fireice-uk commented on #106
It needs to be `-DWIN_UAC=OFF` like every cmake option.

[2017-11-13 09:51] true-datura commented on #106
Oh, sorry. Will try soon.

[2017-11-13 20:01] #105 closed

[2017-11-13 20:01] psychocrypt opened #109 "old TLS snipped?"
@fireice-uk Can we remove https://github.com/fireice-uk/xmr-stak/blob/22039b2a8755e73fb812e6fa34b75d5665ab10de/xmrstak/config.tpl#L118-L125 tls setting?
I checked the code an this is still used on some places but I thought each pool can now define if TLS is needed.

[2017-11-13 20:02] psychocrypt commented on #106
Solved missing `-D`

[2017-11-13 20:02] #106 closed

[2017-11-13 20:11] psychocrypt commented on #70
@fireice-uk

I created a appImage version of the current dev for debian and ubuntu 14.04+
https://mega.nz/#!BHxRWYhB!RyRK-mW4NmCH2BEs1vT6CObWsx7AtLgCyQwiPOS1WGo
SHA256: 1b3aff890f1e8f0d5fb554b26db7360f7e127bddb18b17f29c3382d801b9f861

Double klicking on the binary is currently not working but usage on the terminal should work. If you have also other linux distribution it would be interesting if it

[2017-11-13 20:17] #8 closed

[2017-11-13 20:51] fireice-uk commented on #109
It is still needed. This is a global setting, and does what described  - reject pools with insecure TLS settings.

[2017-11-13 21:09] psychocrypt commented on #109
Thx for the clarification.

[2017-11-13 21:09] #109 closed

[2017-11-13 21:10] psychocrypt commented on #32
done.

[2017-11-13 21:10] #32 closed

[2017-11-14 00:15] Sleinous opened #110 "CPUs start mining, GPUs fail instantly"
![image](https://user-images.githubusercontent.com/33639239/32756171-047dc334-c8d9-11e7-8946-257a1009df73.png)

I'm using exactly the same config as I was on the previous xmr-stak-nvidia :

`"gpu_threads_conf" :
[
  // gpu: GeForce GTX 580 architecture: 20
  //      memory: 1211/1536 MiB
  { "index" : 0,
    "threads" : 16, "blocks" : 32,
    "bfactor" : 8, "bsleep" :  100,
    "affine_to_cpu" : f

[2017-11-14 00:30] fireice-uk commented on #110
@Sleinous Can you try lowering threads and blocks (start by halving), and give us a config that works?

[2017-11-14 00:35] Sleinous commented on #110
@fireice-uk
Config above works fine on xmr-stak-nvidia latest release (Apr 24) :
![image](https://user-images.githubusercontent.com/33639239/32756768-0def80bc-c8dc-11e7-85f9-6096b1cb06af.png)
I can certainly try lowering some more, but that setup was working fine for my fermi cards :)

[2017-11-14 00:49] fireice-uk commented on #110
Ok, that's a different issue to what used to be the problem last time. I will let the gpu wizard @psychocrypt handle it =)

[2017-11-14 01:02] Sleinous commented on #110
Ok cheers @fireice-uk let me know if you need any more info for testing purposes
Just tried compiling a brandnew one on my GTX 970 rig and ran into this :
![image](https://user-images.githubusercontent.com/33639239/32757168-4b359392-c8de-11e7-9039-80806652df5e.png)
So... I think I may just be compiling all of this wrongly..
I have everything installed though as per the compile guide

[2017-11-14 02:24] psychocrypt commented on #110
For the gtx970 windows compile problem: The environment variables to Cuda are not set. Provide the path to the cuda installation via `set CUDA_ROOT=....` or `set CMAKE_PREFIX_PATH=PATHTOCUDA`

Fermi: The config shown in the first post, is this the auto suggestion or du you changed the values ro the same than you used for xmr-stak-nvidia. If you changed the values please post post the config sugges

[2017-11-14 02:26] psychocrypt commented on #110
please open a new issue for the compile if you still have problems. Let us not mix two issues.

[2017-11-14 05:48] Sleinous commented on #110
@psychocrypt For original issue with fermi setup, config shown was with values that worked on xmr-stak-nvidia, autosugggest values didnt work either and here they are below :

`"gpu_threads_conf" :
[
  // gpu: GeForce GTX 580 architecture: 20
  //      memory: 1211/1536 MiB
  { "index" : 0,
    "threads" : 10, "blocks" : 32,
    "bfactor" : 6, "bsleep" :  25,
    "affine_to_cpu" : false,
  },
  //

[2017-11-14 06:36] psychocrypt commented on #110
Yes you need to use CUDA 8 because NVIDIA is not supporting fermi anymore
with cuda 9.
If you use cuda 9 than it is the reason.
Never the less I found an issue in the auto auggestion which I will fix
today.
I will check if I can create a check to detect the wrong compiled
architecture.

[2017-11-14 07:05] Sleinous opened #111 "open cl 2.0"
![image](https://user-images.githubusercontent.com/33639239/32767153-6e469ab4-c912-11e7-8033-96af79a39df8.png)

Hello all,
Anyone able to explain to me why opencl 2.0 wasn't found when running `cmake -G "Visual Studio 15 2017 Win64" -T v141,host=x64 .. `   command? Is it important and will it impact hashrate at all?

[2017-11-14 07:08] psychocrypt commented on #111
This is tge detection loop from the find module of CMake. This is normal.
It shows that CMake tries to detect OpenCL 2.0 and do fallbacks until a
known version is found.

[2017-11-14 07:15] Sleinous commented on #110
Ah, gotcha! So I guess the latest version of xmr-stak-nvidia was compiled by yourselves with cuda 8 to ensure backward compatibility with fermi & that was why it worked ? If so ill retry again later today cheers!

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: psychocrypt <notifications@github.com>
Sent: Tuesday, November 14, 2017 7:36:49 AM
To: fir

[2017-11-14 07:17] Sleinous commented on #111
Thanks for the explanation, I don't need to bother going about finding opencl 2 then I take it? Makes no different to xmr-stak's performance?

Télécharger Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: psychocrypt <notifications@github.com>
Sent: Tuesday, November 14, 2017 8:08:27 AM
To: fireice-uk/xmr-stak
Cc: Sleinous; Author
Subject: Re: [fireice-uk/xmr-stak

[2017-11-14 09:30] Sleinous opened #112 "xmr-stak crashes PC when terminated"
Seem to have stumbled on an issue when terminating xmr-stak :

![image](https://user-images.githubusercontent.com/33639239/32772604-a6b8b3be-c926-11e7-8d47-277f20b61ea0.png)

PC crashes and reboots, I have managed to repeat this behaviour.
MEMORY.DMP file is vlarge, over 2GB, let me know if there's anything in there you need!

[2017-11-14 10:55] #111 closed

[2017-11-14 11:19] kyrre opened #113 "bTlsMode is undefined + executor threading vio"
https://github.com/fireice-uk/xmr-stak/blob/288363814fb091ccfc452f0408bfa53727fc30c0/xmrstak/jconf.cpp#L488

[2017-11-14 16:22] fireice-uk commented on #113
Ty for reporting that! I will take over this ticket to make a note of another fix that needs to be done too =)

[2017-11-14 16:24] fireice-uk commented on #113
`executor::inst()->log_result_error("NVIDIA Invalid Result");` is not correct, as it doesn't include thread safety. Replace it with a new event. Make sure similar call patterns are not anywhere else in the code.

[2017-11-14 16:27] fireice-uk commented on #113
Another thing - make the threads yield after pinning but before allocation

[2017-11-14 18:14] psychocrypt commented on #111
OpenCL is only used for amd gpus. If you have only nvidia gpus you can also
compile with the cmake flag `-DOpenCL_ENABLE=OFF`

[2017-11-14 19:49] Sleinous commented on #110
So, been trying to install cuda 8 to get ready to compile :

![image](https://user-images.githubusercontent.com/33639239/32801324-077220ea-c97d-11e7-9b35-d33fafeb0f52.png)
![image](https://user-images.githubusercontent.com/33639239/32801351-181f4c1a-c97d-11e7-9c74-5baaebbdfa42.png)
![image](https://user-images.githubusercontent.com/33639239/32801367-226454e0-c97d-11e7-87cf-f017579fb1a6.png)
![imag

[2017-11-14 19:51] Sleinous commented on #112
Just tried to kill xmr-stak again, crashed entire PC immediately afterwards, anyone have any ideas on this one? This is a tri GTX 970 setup with dual Xeon E5-2630
Cheers

[2017-11-14 20:46] fireice-uk commented on #112
@Sleinous That's a diver / card problem unfortunately (only a diver can crash the whole OS).

[2017-11-14 20:47] Sleinous commented on #112
Hmm thanks for the heads up, I may have to revert to the xmr-stak-nvidia for this rig in that case because it doesn't behave that way on that build 👍

[2017-11-14 21:19] psychocrypt commented on #110
should be solved by #116

[2017-11-14 21:21] Sleinous commented on #110
@psychocrypt Ok cool, let me know if & when you want me to retest

[2017-11-14 21:22] psychocrypt commented on #87
fixed with #94, for CUDA9 v141 must be used.

[2017-11-14 21:22] #87 closed

[2017-11-14 21:26] psychocrypt commented on #110
@Sleinous If you like you can test #116 (direkt download: https://github.com/psychocrypt/xmr-stak/archive/topic-checkIfBinarySupportsGPUArch.zip) -

[2017-11-14 21:49] Sleinous commented on #110
@psychocrypt SO I can confirm your change works :

![image](https://user-images.githubusercontent.com/33639239/32806780-09867d02-c98e-11e7-9494-5c6ce0a9d040.png)

I'm guesisng this means i'm doing something wrong when compiling?

`\xmr-stak-backend.vcxproj]
  c:\xmr-stak-topic-checkifbinarysupportsgpuarch\xmrstak\misc\executor.hpp(68):
 warning C4244: 'initializing': conversion from 'double' to 's

[2017-11-14 21:54] psychocrypt opened #118 "better support for packaging"
Help the distribution package maintainer to simplify the shipping of an package.

- add environment variable to control where the configs should be written to (e.g. $HOME/.config/xmr-stak) independent of the path to the miner
- add CMake option to separate the xmr-stak binary and the backend libs
- add option to use a external *rapidjson* version

- related to #96

[2017-11-14 21:58] psychocrypt commented on #110
Could you please post the output of `cmake -L .` from within the build folder

[2017-11-14 21:59] fireice-uk commented on #118
Rapidjson is a header-only library. It has no external versions.

[2017-11-14 22:02] psychocrypt commented on #118
But the version from the distribution can be used instead of the internal.
Ubuntu: apt-get install rapidjson-dev

[2017-11-14 22:09] psychocrypt commented on #110
Could it be that you have not cleaned you build directory after you switched from cuda 9 to cuda 8?
`CUDA_ARCH` must have the value `20` included.
`cmake -DCUDA_ARCH=20 <PATH TO THE SOURCECODE> ` will compile for fermi only.

[2017-11-14 22:10] Sleinous commented on #110
I think you're right, facepalm moment here, my bad, going to correct and add in SM20 and 21 and recompile for retest
Cheers

[2017-11-14 22:10] psychocrypt commented on #110
Oh I missed the `20` is included in `30;35;37;50;52;20;60;61;62` , let me check if it is an bug in my pull request.

[2017-11-14 22:14] psychocrypt commented on #110
please do not set to 21 because it is only a virtual architecture. 20 will
support also 21

[2017-11-14 22:15] Sleinous commented on #110
@psychocrypt build folder was empty before switch to cuda8 fyi, ok standing by, I wont add 21

[2017-11-14 23:04] psychocrypt commented on #110
There was an bug in my architecture detection. This is now fixed. If you download the code again it should work now even if you compile for all architectures.

[2017-11-14 23:07] psychocrypt commented on #110
Could you please post the new auto suggestion and the hash rate with it.

[2017-11-14 23:08] Sleinous commented on #110
@psychocrypt Sure thing, am recompiling now, 11 minutes till retest, will keep you posted!

[2017-11-14 23:30] Sleinous commented on #110
@psychocrypt Here's the requested hash rates :

![image](https://user-images.githubusercontent.com/33639239/32810557-c833c1ee-c99b-11e7-95e1-acedf39e9be4.png)

Bug fix works! 1350 H/s on a dual Xeon E5-2630 with 1x GTX 580 and 3x GTX 560 ti. Compare that with 1550 H/s on my old core i7 970 with 3x GTX 970 and i'd say Fermi is still a viable option, i'm still making money from these cards given cur

[2017-11-14 23:34] fireice-uk commented on #113
Implemented in #117

[2017-11-14 23:34] #113 closed

[2017-11-15 00:08] Sleinous commented on #112
BSOD Stop code is : BAD_POOL_CALLER, only happens on xmr-stak, not on xmr-stak-nvidia

[2017-11-15 20:38] velicumugur opened #120 "-std=c++11 is not supported"
i get a lot of :
the -std=c++11 is not supported with the configured host compiler
os : win10-64
cuda 8.0
opencl
visual studio 2017
everithing work ok when build is done, but i get less hashrate then old software xmr-stak-nvidia
or amd downloaded from git release.
i think this error afect somehow memory.

[2017-11-15 20:42] psychocrypt commented on #120
This warning can be ignored. The msvc host compilet which can be used with
cuda8 is not supporting c++11. Ther is not disadvantage.

Which setup has less hashrate. Please post the type of the gpu, the auto
suggested config and if used the hand tuned config. For the old miner and
new (if different)

[2017-11-15 22:21] JerichoJones opened #121 "STAK Autotune AMD Test (xmr-stak-topuc-amdTuning)"
[code]

[2017-11-15 22:35] Sleinous commented on #112
BSOD Stop code is : BAD_POOL_CALLER, only happens on xmr-stak, not on xmr-stak-nvidia
Additional BSOD stop code : PAGE_FAULT_IN_NON_PAGED_AREA

![image](https://user-images.githubusercontent.com/33639239/32822931-235d858e-c9db-11e7-8689-cedd54cdaa66.png)

@fireice-uk @psychocrypt  Any ideas at all why it's only crashing on this version and not on xmr-stak-nvidia, i've just run all 3 GTX 970's thro

[2017-11-15 22:37] #110 closed

[2017-11-16 03:17] Grimm2017 commented on #40
Is there a target date for release?

[2017-11-16 03:32] Grimm2017 opened #122 "Error when compiling C1189: You are trying to do a 32-bit build"
Any idea how I can fix this?

  c:\xmr-stak-dev\xmrstak\backend\cpu\crypto/cryptonight_aesni.h(36): fatal error C1189: #error:  You are trying to do
a 32-bit build. This will all end in tears. I know it. [C:\xmr-stak-dev\xmr-stak-backend.vcxproj]
  c:\xmr-stak-dev\xmrstak\backend\cpu\crypto\cryptonight_aesni.h(36): fatal error C1189: #error:  You are trying to do
a 32-bit build. This will all end

[2017-11-16 03:56] Grimm2017 opened #123 "Need pool failover functionality"
Most miners have failover to alternative pool(s) if the main pool goes offline.

[2017-11-16 04:39] anhphan opened #124 "multi-pool support enhancement"
We are already have multi-pool support, but we can make it better:

1. Accept pool with weight = 0, this pool will work when all other pool with weight > 0 die, it's failover pool as request of #123. This also the way most web server load balancing work.

2. When All user pool die, and dev pool still live, miner should mine on dev pool even fee ratio = 0. In this case web interface should have a r

[2017-11-16 07:29] psychocrypt commented on #122
Do you trying to compile it on a 32bit machine? Is you windows a 64bit
version?
We are not supporting 32bit systems.

[2017-11-16 07:30] psychocrypt commented on #123
Solved in #90

[2017-11-16 10:14] JerichoJones opened #125 "Hash Rate Display Enhancement"
Add hashrate totals per hardware type so we don't have to take out the calculator to see how a particular component is doing (CPU is really culprit with a large number of cores).

[2017-11-16 11:02] psychocrypt commented on #125
I will add it after the release. Today we will do a feature freez and
branch out the release candidate.

[2017-11-16 11:38] fireice-uk commented on #124
1. Pool weight is purely relative. 0 needs special care not to crash the miner. Use weight of 1 and pretend that this is 0 =).

2. In that scenario the miner will idle to save user's power, unless the giveup limit is set, in which case it will shut down. I don't feel that using user's power simply because we have nothing better to do is a right thing.

3. ARGH! A very persistent bug. Thanks for re

[2017-11-16 13:45] fireice-uk commented on #124
Fixed in #127

[2017-11-16 13:47] fireice-uk commented on #112
Are you running them with the same settings?

[2017-11-16 13:49] fireice-uk commented on #122
The default in MSVC gui is to build for 32-bits. Please follow our guide.

[2017-11-16 13:52] fireice-uk commented on #40
This weekend. We have already frozen the feature set and are only doing debugging PRs.

[2017-11-16 19:41] Sleinous commented on #112
@fireice-uk Yes, when you launch xmr-stak-nvidia for the first time you get the following suggested config :
![image](https://user-images.githubusercontent.com/33639239/32912160-78d10c3c-cb0e-11e7-819b-bb7e958416a0.png)
You get the exact same suggested config on xmr-stak except when I close cmd out on xmr-stak it crashes, and it doesn't on xmr-stak-nvidia

[2017-11-17 02:45] fireice-uk opened #129 "One user's problem"
One guy on IRC managed to get 12 (!) gpus working with xmr-stak-amd, but they aren't detected by xmr-stak - some pastebins:

https://thepasteb.in/p/3lhJcDkOW4D18hN (needs sudo to actually see the gpus)

https://thepasteb.in/p/P1hrcj5mx7l3vcX (with a working config from stak-amd)

https://thepasteb.in/p/vghjcAxwqkKxxhx (I guided him into adding the line dumping number of devices and platform)

@psy

[2017-11-17 02:55] anhphan opened #130 "Cuda architecture 50 not working."
I try compile with this option:
[code]
But when run with `GTX 750 Ti`, I receive this error:
[code]

It's work well with 1070 (arch 61). The backend file size is about 3MB, mean it actual compile for 2 ARCH (as I remember, if only compile for 1 ARCH, backend will have file size about 1.6MB)

[2017-11-17 03:23] bitmoeda opened #131 "Segmentation fault"
As requested by fireice-uk on IRC I tried to run under gdb. Here is the output of "bt" and some lines before the crash:

[code]

This rig has both AMD and Nvidia GPU's.

[2017-11-17 06:45] psychocrypt commented on #130
please run `xmr-stak -V` that know that you are on the latest version.

[2017-11-17 06:49] anhphan commented on #130
The output of `xmr-stak -V`:
[code]

I have just build it today from dev branch

[2017-11-17 06:49] psychocrypt commented on #130
Please also post your nvidia.txt

Am 17.11.2017 7:45 Vorm. schrieb "psychocrypt" <psychocrypthpc@gmail.com>:

[2017-11-17 06:52] anhphan commented on #130
nvidia.txt
[code]

It's run fine with older build (I have one build from before aeon added). If I remove nvidia.txt, it's also cannot make suggestion for that card, only create suggestion for 1070 only.

[2017-11-17 06:56] psychocrypt commented on #130
Please remove the file nvidia.txt and run the miner again. Than please post
all output from the terminal.

[2017-11-17 07:00] anhphan commented on #130
[code]

The content generated to new.txt:
[code]

[2017-11-17 07:03] psychocrypt commented on #130
could you go please into the build folder and run `cmake . -L`

[2017-11-17 07:06] anhphan commented on #130
D:\temp\test\xmr-stak\build>cmake .. -L
[code]

[2017-11-17 07:10] psychocrypt commented on #130
Do you run the last command in an clean directory. Because the output shows
that all architectures will be build.
In that case please compile again dor two architectures. Run cmake . -L
after the compile. Please use not `..`
Try the new build.
If this is not working I need to reproduce it on my system.

[2017-11-17 07:20] anhphan commented on #130
After clean build with command:
[code]
Output of `cmake . -L`:
[code]

Copy the new build to target machine, and still run failed with same error.

[2017-11-17 07:49] anhphan commented on #130
have just check out to commit d35893d926c74893d7c85d1b87b24ffa55744649 and rebuild, it working fine on that commit. Something is broken after that.

[2017-11-17 08:08] anhphan commented on #130
Found the commit make broken is: 70737c8d1a909c6d08f6e38e069566ae8af64917
Previous commit: 0659458523671d53e4eddd940ade8ac9f72b1bbe is run fine.

[2017-11-17 08:20] psychocrypt commented on #130
Thx for pointing to the commit. I can reproduce the issue and will fix it
soon.

[2017-11-17 09:09] psychocrypt commented on #130
Your issue is fixed with #133 and #132

[2017-11-17 09:11] psychocrypt commented on #131
Please compile with `cmake .. -DCMAKE_BUILD_TYPE=Debug" and run the the miner with `valgrind ./xmr-stak`

[2017-11-17 09:34] psychocrypt commented on #129
Is the user using the AMD blockchain driver?
If so is it the latest beta version.
There are a lot of issues with the blockchain driver in the past. The
issues are equal to this one. The OpenCL call `clGetDeviceIDs` is not
giving the correct number of devices or fails.

Is it possible to update to the newest or to an older driver?

[2017-11-17 10:51] #130 closed

[2017-11-17 11:26] fireice-uk commented on #131
Looking at bt I have an inkling of what might be causing it. Will try it when I get back home later today. But what psychocrypt described would be very helpful (if you don't mind the much lower hashrate of unoptimised Debug build).

[2017-11-17 15:40] fireice-uk commented on #131
Found it! @bitmoeda thanks for your help! When you recompile after #134 is merged the problem should go away.

[2017-11-17 20:18] bitmoeda commented on #131
Recompiled and so far it's stable!

[2017-11-18 00:18] fireice-uk commented on #131
Closing solved problem

[2017-11-18 00:18] #131 closed

[2017-11-18 00:21] fireice-uk commented on #70
@psychocrypt I had a look myself and I shifted the goalposts a little.

- Fuse is a pain in the arse to get running on VMs where you don't control the kernel
- binary + libraries + start script seems to work well (tested ubuntu 16.04-built binary with TLS on centos 6)

Here is my rough first attempt - just unpack, and run xmr-stak.sh

https://transfer.sh/Jo1fY/stak-portable.tar.gz

[2017-11-18 10:08] psychocrypt commented on #70
So you tried my appImage build? This was compiled on a ubuntu 14.04 and
ships all importent libraries.
I think we should try to compile on ubuntu 14.04 to increase the
compatibility.

Am 18.11.2017 1:21 Vorm. schrieb "fireice-uk" <notifications@github.com>:

@psychocrypt <https://github.com/psychocrypt> I had a look myself and I
shifted the goalposts a little.

   - Fuse is a pain in the arse to g

[2017-11-18 13:22] Sleinous commented on #112
@psychocrypt any ideas?

[2017-11-18 16:03] probonopd commented on #70
I tried and it works fine for me on Ubuntu 17.10.

[2017-11-18 18:06] fireice-uk commented on #70
@psychocrypt I tried but my VM provided does not have FUSE in the kernel, so no joy for *any* OS.

I prefer to drop the single binary requirement and use the more compatible script launch method.

[2017-11-18 18:11] probonopd commented on #70
You can extract an AppImage  like so, even on systems without FUSE installed:

[code]

This is also documented on https://github.com/AppImage/AppImageKit/wiki/FUSE

[2017-11-18 18:17] fireice-uk commented on #70
I know, but then I got a segfault until I added a script to launch the binary myself. Given that we are aiming for something that can be deployed via scripts here and not a pretty binary I don't see any advantage to having it in appimage over tarball.

[2017-11-18 18:19] fireice-uk commented on #70
Maybe because I rolled the image on Ubutu 16.04 and tested it on CentOS 6 and not the other way round -> but that just shows that tarball is the more compatible solution imo.

[2017-11-18 18:21] probonopd commented on #70
This is entirely independent of whether you wrap your binaries in an AppImage, a tarball or something else: They will run on newer, but not on older systems than the one they were compiled on. Unless you bundle everything, down to glibc.

[2017-11-18 18:23] fireice-uk commented on #70
@probonopd Thanks for great software BTW, I develop stak from KDevelop bundled in appimage!

Idea is to bundle **everything** down to libc - will appimage work in that case? I can give it another shot.

[2017-11-18 18:26] probonopd commented on #70
@fireice-uk again: if you have a tarball that is working "everywhere", then simply put the contents of said tarball into the AppImage. AppImage has nothing to do with whether your binaries are compatible or not. AppImage is just a self-mounting filesystem that runs whatever you put inside it.

And yes, when you bundle everything down to glibc, then it will run everywhere indeed. Here's a hint at h

[2017-11-18 18:29] fireice-uk commented on #70
@probonopd thanks for the hint -> I was using your binary AppRun. Will test it with the launcher script as the AppRun.

[2017-11-18 18:54] fireice-uk commented on #123
Implemented. Closing.

[2017-11-18 18:54] #123 closed

[2017-11-18 19:47] psychocrypt commented on #130
btw: Do not forget to re-enable the dev donation ;-)

[2017-11-18 20:07] psychocrypt commented on #70
@fireice-uk You provided binary runs well on Ubuntu 14.04 expect if I use the nvidia miner. I get the following error message:

[code]

But this is currently not merged into the dev.

Btw: To path all parameter from the script to the xmr-stak binary I use always `$@` instead of `$*` but maybe it must be `"$@"
see https://unix.stackexchange.com/a/129077

[2017-11-18 21:19] fireice-uk commented on #70
@psychocrypt It works! Do you think we should do a last minute change or ship a tarball now and listen to feedback from the miners?

[2017-11-18 21:21] fireice-uk commented on #70
@psychocrypt you are using the test-dev-fireice-nh branch -> this branch is for testing NH nonces, you need to enable nh nonces for it to work.

[2017-11-18 21:22] psychocrypt commented on #70
@fireice-uk Do you mean shipping a appImage instead of a tar ball?

[2017-11-18 21:30] psychocrypt commented on #121
@JerichoJones  Thanks for the tests. I am correct that you say that the auto suggestion is working but will not give the best performance.
If so than you are right. It is very hard to write a auto suggestion which works on all systems and give the best results. For such a feature we need to try many settings up to the point we find the best.
Maybe this will be a feature in the future but currently

[2017-11-18 21:37] fireice-uk commented on #70
@psychocrypt Yes, my feeling would be not to make a major change right now -> we only have this evening  to test it. We can do a follow up release in a week or a fortnight.

[2017-11-18 21:43] psychocrypt commented on #70
I am fine with shipping the tar ball compiled by you. It works well, expect
that it is a prototype branch ;-).
If you compile everything with cuda8 than we have nice compatible binary
for windows supporting ubuntu 14.04+ and centos6+

[2017-11-18 22:02] psychocrypt commented on #70
@fireice-uk Double klicking on the `sh` file and select run in linux will start the miner in the background and if a config already exists the power consumption of the system goes up without a running system.
For appImage I tried to find a valid terminal on the system and start it if the user double klick the miner and there is no open termin.
This can avoid a lot of potential issues. I used the f

[2017-11-18 22:28] fireice-uk commented on #70
@psychocrypt yes, it isn't the release version yet :) just checking whether it starts

On point of cuda8. I just verified that you don't need new drivers for a cuda9 binary. As such I will build it on 9.0 <- i really don't feel like tearing down and rebuilding vs toolchain.

Can you make cuda8 legacy binaries? We will keep them until they fall below 1% of usage.

[2017-11-18 22:42] psychocrypt commented on #70
There is no need to ship two binaries if it is compiled with CUDA8. Please do not open a new potential source of issues because the user is always downloading the wrong binary :-) Also the most user don't know if the have a fermi GPU or not. You can check the issues in xmr-stak-nvidia wheremany user compile for the wrong architecture.
We have now the possibility to ship a single miner for all impo

[2017-11-18 22:46] psychocrypt commented on #70
The compatibility link: http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#versioning-and-compatibility

[2017-11-18 22:52] fireice-uk commented on #70
@psychocrypt They are. I just tested that. We will roll with two binaries for now to asses the need for cuda8.

[2017-11-18 22:56] psychocrypt commented on #70
But why? We have only disadvantages with CUDA9.
- no single binary fits all
- it is more complicated for the user
- we need to build two binaries

Which argument is pro CUDA9?

[2017-11-18 23:00] fireice-uk commented on #70
- We get to use VS17, no need to downgrade toolchains
- I have an inkling that number of users affected will be well below 1% in which case we will drop cuda8 altogether. There is no point in maintaining binary for edge cases.

[2017-11-18 23:07] psychocrypt commented on #70
Than we should only ship one binary without fermi and with the potential risk if CUDA8 driver incompatibilities.
My vision is and was to create a simple miner (from the user perspective) where we avoid as much as possible issues by design. This will be not the case with the next release and this makes me sad :'(

I go to bed now, with a bad feeling.

With this release we will get also new users fr

[2017-11-18 23:12] fireice-uk commented on #70
As I said - we will reassess when we have the actual numbers. Don't get so emotional :P if there are issues I will pull c9 build and we will have a c8 only build

[2017-11-19 04:22] JerichoJones commented on #121
@FireiceUK asked me to pass them along. I know that the auto tuning is
probably going to be perfect. Thanks for all your efforts!

On Sat, Nov 18, 2017 at 4:30 PM, psychocrypt <notifications@github.com>
wrote:

[2017-11-19 08:32] psychocrypt commented on #70
The point is there is no need to skip fermi support in the near feature. I can extent the plugin system that we ship a library only for sm_20 which must compiled with CUDA8 and the rest can be compiled with CUDA9. But this is nothing for this release because this must be implemented and tested.

[2017-11-19 09:04] psychocrypt commented on #70
we should add the guard to avoid spawning dead background miner.

[code]

[2017-11-19 09:50] Sleinous opened #139 "Xmr-stak cmd terminated after 48hrs stress test"
![screenshot_20171119-104709](https://user-images.githubusercontent.com/33639239/32989485-4c24ddac-cd17-11e7-9902-417030fcb403.jpg)

Please note this is not the PC with the driver crash, this is a 100% fermi build mining for 48hrs then crashed

[2017-11-19 12:23] fireice-uk commented on #139
@Sleinous can you please include output of xmr-stak.exe -V (you might need to run it from a privileged console)

[2017-11-19 14:45] Sleinous commented on #139
@fireice-uk
Here's what that command returns for me :

![image](https://user-images.githubusercontent.com/33639239/32991694-b61275ac-cd40-11e7-8c7b-21123c291c81.png)
Thanks

[2017-11-19 15:09] Sleinous commented on #112
@fireice-uk
Some addition information regarding this one :

![image](https://user-images.githubusercontent.com/33639239/32991876-e6c5d43e-cd43-11e7-88d1-41bb9e5a324b.png)

![image](https://user-images.githubusercontent.com/33639239/32991873-d4ae0e1a-cd43-11e7-810a-b39a356bbe1d.png)

[2017-11-19 18:45] fireice-uk opened #145 "Idle detection"
[–]fireice_uk[S] 1 point 8 minutes ago
What's idle detection? The miner will automatically idle if it looses connection to all pools.

[–]cleesus 1 point 7 minutes ago
If I'm using my computer it will stop running and start up again after a certain amount of time has passed. I love your miners and that is the only feature that has been missing

[–]fireice_uk[S] 1 point 3 minutes ago
Very good idea

[2017-11-19 18:58] Clintoxen commented on #145
Thanks again

[2017-11-19 20:55] bagobones opened #146 "Run as a service on Windows"
Looking at other issues requesting idle detection etc, I think the most effective way for that to work on windows would be for the program to start with the system and always run in the background correctly.

I currently use a schedule task to kick it off but it seems highly unreliable and hard to monitor.

[2017-11-19 21:15] omgllc opened #147 "Linux Ubuntu 16.04.3 - AMDGPU-Pro Latest Mining version / ROCM"
When I try to compile it following the guide, I get this error :

omgllc@omgllc-H110-D3A:~/xmr-stak/build$ cmake ..
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C com

[2017-11-19 21:16] hashguide opened #148 "Make Install Error - using ::max_align_t;"
I am using ubuntu 14.04.2 for amd cards and just tried compiling and installing the new xmr-stak. Below is the error in the console while running make install after compilation was complete. I had update-alternatives to use clang as the cc c++ compiler, which worked fine, just like the last version, but don't know where to go with make install. I supposed I don't need it right away, but figured I'

[2017-11-19 21:22] omgllc commented on #147
Ok, I found someone else with the same issue :
Running the following, I was able to build :
sudo apt-get install ocl-icd-opencl

then :
cmake -DOpenCL_INCLUDE_DIR=/usr/include/CL ..

I'll keep going further I'll update if anything is stuck

[2017-11-19 21:23] ChildishJack opened #149 "nvidia driver issue on new pre-compiled"
On windows 10, with a gtx 1080 installed alongside an older AMD card I get this error while running the new compiled windows release. Before this release the XMR-STAK Nvidia and AMD versions worked fine at the same time. The prior pre-compiled release of XMR-STAK-NVIDIA does not give me any driver issues.

`
[2017-11-19 14:22:01] : Start mining: MONERO
WARNING: NVIDIA Insufficient driver!
[2017-11

[2017-11-19 21:26] blacklion opened #150 "xmr-stak requires administrator privileges on Windows 10"
Each time I run new xmr-stak on Windows 10 it shows UAC window and ask for Administrator privileges.
Previous (xmr-stak-cpu) version works without additional privileges.
I have Large Page and memory lock allowed for my user account, so it is not a problem.
It is very inconvenient, as I start xmr-stak at login and re-schedule it to IDLE priority. xmr-stak with elevated privileges can not be re-sche

[2017-11-19 21:29] omgllc commented on #147
tested with nicehash "Result Accepted" Good job guys!

[2017-11-19 21:30] #147 closed

[2017-11-19 21:32] Clintoxen commented on #150
From Fireice-uk on reddit

[2017-11-19 21:33] blacklion commented on #150
So, offical build is built with UAC and there are no way to make it command line option? It is pity :-(

[2017-11-19 21:36] Clintoxen commented on #150
Yup not at the moment at least.

[2017-11-19 21:37] blacklion commented on #150
Compilation documentation says «On Windows 10 it is only needed once to set up the account to use them.», but it asks every time.

[2017-11-19 21:37] psychocrypt commented on #149
Please post the file `nvidia.txt` from auto suggestion. Please also try to reduce the threads in this file after you posted the original settings.

CC-ing: @fireice-uk I cc-ed you to show the first required driver update ^^

[2017-11-19 21:38] Clintoxen commented on #150
For now just compile it to get around this

[2017-11-19 21:41] psychocrypt commented on #150
The problem is that it is not possible to pop up the UAC only once :-( As @Clintoxen wrote if you compile it by your own you can disable the UAC requirement.

[2017-11-19 21:44] blacklion commented on #150
It is possible, if it is done in code, not by linker options / manifest. For example, FAR Manager (file manager) requests additional privileges only if it really needs them — for example, when you try to delete file which is not belong to you, not on startup.

But for now I'll build my own build, thank you!

[2017-11-19 21:46] psychocrypt commented on #150
@fireice-uk Could you please have an eye to this issue.

[2017-11-19 21:59] aaronsace commented on #150
I need the admin privileges removed as default.

Soon as this has been fixed then it can include it in MultiPoolMiner.

[2017-11-19 21:59] nycenom commented on #149
same crash here, my nvidia.txt:

"gpu_threads_conf" :
[
  // gpu: GeForce GT 750M architecture: 30
  //      memory: 1702/2048 MiB
  //      smx: 2
  { "index" : 0,
    "threads" : 130, "blocks" : 6,
    "bfactor" : 6, "bsleep" :  25,
    "affine_to_cpu" : false,
  },

],

[2017-11-19 22:02] psychocrypt commented on #149
Please reduce the threads again and increase bfactor to 8 or 10

[2017-11-19 22:03] omgllc opened #151 "RX VEGA - AMDGPU-pro latest - Multi-GPU"
I was able to properly compile, and able to mine with 1 RX VEGA GPU, but when I try to add the threads and index for the other ones it doesnt seem to work.

Clinfo output :
clinfo
Number of platforms                               1
  Platform Name                                   AMD Accelerated Parallel Processing
  Platform Vendor                                 Advanced Micro Devices, Inc.
  P

[2017-11-19 22:04] psychocrypt commented on #149
please post also the full output from the start until the crash

[2017-11-19 22:06] psychocrypt commented on #151
The miner will detect all gpus at the first start. Please delete the file
amd.txt
Start the miner and post the output of the miner and the newly created file
amd.txt

[2017-11-19 22:09] psychocrypt commented on #151
please also post your broken hand tuned amd.txt

[2017-11-19 22:10] UnclWish opened #152 "Compiling with mingw64 error"
[ 24%] Building CXX object CMakeFiles/xmr-stak-backend.dir/xmrstak/backend/cpu/minethd.cpp.obj
In file included from D:/msys64/mingw64/x86_64-w64-mingw32/include/minwindef.h:163:0,
                 from D:/msys64/mingw64/x86_64-w64-mingw32/include/windef.h:8,
                 from D:/msys64/mingw64/x86_64-w64-mingw32/include/windows.h:69,
                 from D:/Compiling/xmr-stak-2.0.0/xmrstak/b

[2017-11-19 22:12] nycenom commented on #149
[2017-11-19 20:09:08] : Starting NVIDIA GPU thread 0, no affinity.
[2017-11-19 20:09:09] : Found AMD platform index id = 1, name = Advanced Micro Devices, Inc.
[2017-11-19 20:09:09] : WARNING: CL_DEVICE_NOT_FOUND when calling clGetDeviceIDs for of devices.
[2017-11-19 20:09:09] : WARNING: No AMD device found.
[2017-11-19 20:09:09] : WARNING: backend AMD disabled.
[2017-11-19 20:09:09] : Starting d

[2017-11-19 22:12] omgllc commented on #151
@psychocrypt  Yes I did that, I used the "auto-detect" but it only detected 1 GPU.

/*
 * GPU configuration. You should play around with intensity and worksize as the fastest settings will vary.
 *      index    - GPU index number usually starts from 0
 *  intensity    - Number of parallel GPU threads (nothing to do with CPU threads)
 *   worksize    - Number of local GPU threads (nothing to do wi

[2017-11-19 22:36] fireice-uk commented on #152
We don't support mingw64, please use msvc on Windows.

[2017-11-19 23:02] UnclWish commented on #152
Hmmm, it's strange. XMR-Stak-CPU normally compiling via mingw64...
It would be nice if you're add support for mingw compiling.

[2017-11-19 23:39] bagobones commented on #150
I see this as a major security concern (the application downloads and exposes a web interface) and if your OS is up to date it is only a one time thing to set this or it can be done manually.

It might be better to make this an optional command line option on launch for legacy support in Windows 7 to do it on every run, and on new OS only as an optional prompt to set the memory permission for you

[2017-11-19 23:48] hashguide commented on #148
actually nevermind, sorry for the false report. I followed the ubuntu 14.04 version with cmake and was able to call sudo make install, im sure sudo make install would have worked last time, I forgot to add the sudo, my fault

[2017-11-19 23:48] #148 closed

[2017-11-19 23:54] khuffmanjr opened #153 "instructions to compile on windows do not work"
Greetings!

I have followed instructions to compile on windows 10.  I did not perform steps for CUDA 8.0+ nor did I download and create the directory structure for the dependency folder - again, no CUDA needed; I have a Vega.  When I create the build directory and cd to it and then run the cmake command, I get `Error: could not load cache`

Why am I changing to an empty directory and running cmake

[2017-11-19 23:55] ChildishJack commented on #149
The output:

xmr-stak 2.0.0

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.
Based on OpenCL mining code by wolf9466.

Configurable dev donation level is set to 2.0%

You can use following keys to display reports:
'h' - hashrate
'r' - results
'c' - connection
---

[2017-11-19 23:57] #149 closed

[2017-11-20 00:40] khuffmanjr commented on #153
So I went through it again.  This time I grabbed the cuda stuff, assuming cuda 9, despite not having nvidia.  Got down to the last cmake command in windows compile instructions and then this:
`C:\xmr-stak-amd-final\build>cmake --build . --config Release --target install
Microsoft (R) Build Engine version 15.4.8.50001 for .NET Framework
Copyright (C) Microsoft Corporation. All rights reserved.

MSB

[2017-11-20 00:40] WyseNynja opened #154 "Config option to set maximum system load"
I run xmr-stak on a system with several other processes and sometimes I have to stop mining (or limit to 1 thread) while my server does some heavy lifting. I can nice xmr-stak, but I think it could be really neat if xmr-stak could automatically add or remove mining threads based on system load.  For example, on my system I don't want it to ever have more than 4 threads and if my server is busy tra

[2017-11-20 00:41] WyseNynja opened #155 "Add more flags so xmr-stak can run without any interactive questions"
I run xmr-stak-cpu on a few systems and with the old release I had a script that would sed some environment variables into the default config and then start the miner.  The new release doesn't have that config file anymore. Rather than build something to write it, it would be a lot easier for me if everything that could be set in the text configs could also be set as flags.

Right now if you do `x

[2017-11-20 00:47] fireice-uk commented on #150
@blacklion If you know how to do it, please link. AFAIK elevation requires launching of a separate process.

[2017-11-20 01:09] fireice-uk commented on #155
Thanks for spotting it! We will add it to dev in a couple of days.

[2017-11-20 01:09] aaronsace commented on #150
Took some time but this script removes default admin rights from an exe file and doesn't require admin rights itself to run:

[code]

[2017-11-20 01:19] fireice-uk commented on #150
@aaronsace thanks! I think if the demand is large enough (which it looks like it will be) we will make a dedicated windows 10 build.

[2017-11-20 01:25] Clintoxen commented on #155
I agree with you, but for now you can copy the config you made with the exe and it will skip all of the questions and go straight to mining when you start it

[2017-11-20 01:51] Clintoxen commented on #153
Why not turn off cuda in the cmakelist file?

[2017-11-20 02:43] lawrenceyan opened #156 "Null String Causing Crash (Core Dump Included)"
Error I get after trying to running ./xmr-stak
I tried combinations of CPU only and NVIDIA only and in both cases, it always crashes with this same error.
[code]

But I'm guessing it still has to be something wrong with my config files? I've attached them below:
[config.txt](https://github.com/fireice-uk/xmr-stak/files/1486315/config.txt)
[cpu.txt](https://github.com/fireice-uk/xmr-stak/files/1486

[2017-11-20 02:44] bagobones commented on #150
I would appreciate it, it would still be nice to have the setup run via a CLI option if the user has launched the app with elevated permissions manually.. Maybe a --setwinpermission or something.

[2017-11-20 03:31] varung opened #157 "after I use the linux portable binary, I can no longer ssh into the machine"
I ran the commands in /root for using linux portable binary
After this I get permission denied when ssh'ing (and ssh worked right before)
Is this malware?

[2017-11-20 03:48] grzegorzszczecin opened #158 "Mac build: missing std::string headers"
xmr-stak/xmrstak/backend/amd/amd_gpu/gpu.hpp:37:14: error: implicit instantiation of undefined template 'std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >'
        std::string name;

[2017-11-20 03:49] grzegorzszczecin commented on #158
Build can be fixed with one line

diff --git a/xmrstak/backend/amd/amd_gpu/gpu.hpp b/xmrstak/backend/amd/amd_gpu/gpu.hpp
index 123de01..abbd08d 100644
--- a/xmrstak/backend/amd/amd_gpu/gpu.hpp
+++ b/xmrstak/backend/amd/amd_gpu/gpu.hpp
@@ -9,6 +9,7 @@
 #endif

 #include <stdint.h>
+#include <string>
 #include <vector>

 #define ERR_SUCCESS (0)

[2017-11-20 04:18] khuffmanjr commented on #153
Ok, I'm game.  How would I do that?

[2017-11-20 04:21] amdvega opened #159 "Single rx Vega 56 - Hash Drop compared to xmr-stak-amd"
With the default generated amd.txt I get ~1350 H/s.  Copy/pasted gpu config from xmr-stak-amd's config.txt and now getting ~1835 H/s.  However, in xmr-stak-amd I get ~1865 H/s.  Config below:

"gpu_thread_num" : 2,
/*
 */
"gpu_threads_conf" : [
    { "index" : 0, "intensity" : 2016, "worksize" : 8, "affine_to_cpu" : false },
    { "index" : 0, "intensity" : 1600, "worksize" : 8, "affine_to_cpu" :

[2017-11-20 05:21] tringwebdesign opened #160 "Xubuntu 17.10 relocation error"
When running in either SSL/TLS or normal, i get the following error when trying to run xmr-stak.sh:

Fast-connecting to stratum.examplepool.com:8443 pool ...
/home/mining/Monero/xmr-stak/stak/xmr-stak: relocation error: /lib/x86_64-linux-gnu/libnss_dns.so.2: symbol __resolv_context_get, version GLIBC_PRIVATE not defined in file libc.so.6 with link time reference.

Previously running xmr-stak-cpu w

[2017-11-20 05:37] CircusDad opened #161 "--noNVIDIA"
The https://github.com/fireice-uk/xmr-stak/blob/master/doc/usage.md guide give a --noCPU and --noAMD tag but not description for Nvidia.

[2017-11-20 06:02] marcopineschi opened #164 "Can't connect to Minergate"
Keep getting the error:
SOCKET ERROR - [xmr.pool.minergate.com:45560] CALL error: Timeout while waiting for a reply

[code]

[2017-11-20 06:11] m1911 opened #165 "Reduced computing power"
Double X5650 use 100%, only 240h/s

[2017-11-20 06:36] Ghosthree3 opened #166 "Failed to build on Windows with VS2017 and CUDA9"
Following the compile instructions for CUDA9 I end up getting this output.

[2017-11-20 06:38] sergneo commented on #155
Why do I like this miner who immediately throws the error? My PC Core2Duo E8400 and a Nvidia 8600GT.
![xmr-stak-error](https://user-images.githubusercontent.com/27492679/33005351-7a1e3248-cdd6-11e7-8588-68fdf17f346b.jpg)

[2017-11-20 06:43] hanserasmus opened #167 "Multiple configs for day and night mining"
Hi guys

During the day I want to mine with less CPU threads and no Nvidia, and at night I want to mine at full capacity.  How can I achieve this with the new setup? I cannot find the correlation between the config.txt files and the cpu.txt or nvidia.txt. In other words, I know I can change the settings inside the cpu- and nvidia.txt files, but I want to create two sets of config files. One set fo

[2017-11-20 06:47] psychocrypt commented on #151
please remove amd.txt and post the full output of the miner.

[2017-11-20 06:53] psychocrypt commented on #149
the (na) is comming because your gpu is to slow to calculate a bunch of
hashes within 10sec. It is no problem at all. This will only mean that the
10sec hash statistic is not correct.

[2017-11-20 06:57] psychocrypt commented on #155
After the first start all co fig files will be created. If the config files
are available than the miner will not ask any questions. You can use the
miner in your scriped environment.

[2017-11-20 07:00] psychocrypt commented on #156
please post the full output of the miner up to the error.

[2017-11-20 07:08] psychocrypt commented on #157
No that is no malware. After you get your access back could you please
provide use with the logs. I think it has nothing to du with xmr-stak.
Maybe we have a bug and do an illegal memory access which can crash the
system if you running the miner as root.
btw: please do not run software aus root use always user accounts with
reduced access rights!!

[2017-11-20 07:31] varung commented on #157
running it not out of the /root folder works. I'm really confused by what happens when I run it as root.

[2017-11-20 07:31] #157 closed

[2017-11-20 07:32] sergneo commented on #155
miner does not work with nvidia driver 378.78
![xmr-stak-error2](https://user-images.githubusercontent.com/27492679/33007063-046ae836-cdde-11e7-848f-6052ccbbd61c.jpg)

[2017-11-20 08:09] sergneo commented on #155
Default miner is not true determines the parameters of the GPU. For example the optimal settings for GT730:
"threads" : 24, "blocks" : 16,
"bfactor" : 8, "bsleep" : 100,
![xmr-stak-error3](https://user-images.githubusercontent.com/27492679/33008212-460204b4-cde3-11e7-9a6b-8e70684da570.jpg)

[2017-11-20 08:25] psychocrypt commented on #159
we added a few bug fixes. Maybe this is the reason for the 1.3% drop.

[2017-11-20 08:26] psychocrypt commented on #160
please run xmr-stak -V
Do zou compiled it by your own?

[2017-11-20 08:36] tringwebdesign commented on #160
Will try later, it was precompiled binary

On 20 Nov 2017 8:26 am, "psychocrypt" <notifications@github.com> wrote:

[2017-11-20 09:35] agisubagio opened #170 "GT 740M and CUDA 9.0"
I've managed to compile from the last version of the source code, but when it runs, an error occurs like this. And this problem does not appear in previous versions. I'm using Notebook with GT 740M onboard and Windows 7 64-bit.

https://imgur.com/a/zNtwr

[2017-11-20 09:39] psychocrypt commented on #164
please ping the pool address and post the output.

[2017-11-20 10:05] blacklion commented on #150
@fireice-uk Yes, you are right. I've studied FAR Manager code (it is Open source now) and found that it starts sub-process and communicate with it via named pipe to perform actions which require elevated privileges. Sorry.

[2017-11-20 10:29] CollusionPool commented on #170
I think not only you)

[2017-11-20 10:51] psychocrypt commented on #165
do you compiled it by hand? Do you compiled the dependency hwloc?
To get a auto suggestion for two sockets you must comoile with hwloc.

[2017-11-20 10:52] psychocrypt commented on #166
please provide all commands you have used to compile xmr-stak

[2017-11-20 10:52] psychocrypt commented on #166
and all cmake output from a clean build folder.

[2017-11-20 10:57] psychocrypt commented on #167
please run `xmr-stak --help` you can define which miner config (pool,
login, ...) and the configurations for the backends (cpu,nvidia and amd) is
used

[2017-11-20 11:03] psychocrypt commented on #155
@sergneo please open a new issue for your problem. This issue is a feature request!

[2017-11-20 11:26] m1911 commented on #165
Yes, I use manual compilation.
My compile Parameters -Dhwloc_enable=on

[2017-11-20 11:40] anhphan commented on #170
Try change `bfactor` to 8 and reduce `threads` in `nvidia.txt` file

[2017-11-20 11:41] psychocrypt commented on #170
please increase bfactor in nvidia.txt and/or reduce the threads for the
device.

[2017-11-20 11:43] psychocrypt commented on #165
please post the auto suggested config and the output of `hwloc-ls`

[2017-11-20 11:44] sergneo opened #171 "Errors when running XMR-Stak"
Why do I like this miner who immediately throws the error? My PC Core2Duo E8400 and a Nvidia 8600GT. Why would I OpenCL.dll if I don't have AMD card.
(**update: Is solved by installing the latest drivers Nvidia 388.31 or copying opencl.dll in the folder with the miner**)
![xmr-stak-error](https://user-images.githubusercontent.com/27492679/33016739-b81ac99c-ce00-11e7-8519-490ef4b5dcc7.jpg)

Miner d

[2017-11-20 11:47] hoyanf opened #172 "Crash upon start, with amd and nvidia gpu"
Crash on amd with nvidia gpu, attached is the error screen
![screen shot 2017-11-20 at 19 44 25](https://user-images.githubusercontent.com/15434685/33016970-81c883b8-ce2b-11e7-9317-cee756d5737a.png)

[2017-11-20 11:47] Ghosthree3 commented on #166
Commands:

cmake.log https://0bin.net/paste/t7JGyK6M7E8YC+GO#TK1eP8x3idyFX3tv6Rvc4tS0CRRJwAfq7k8NKRUrlmH
cmakebuild.log https://0bin.net/paste/pWS-yh3XYmRICAdQ#EJBHK96rf50hhOiTOKpa8TUI5c+onZb16i29UY1OhD3

[2017-11-20 11:55] anhphan commented on #150
@fireice-uk Maybe we show follow the way notepad++ does. It's restart itselt under Administrator account when privileges is needed.

(Try use notepad++ to save hosts file, it's will ask to restart under Administrator account - If we accept it, UAC will prompt to start a program under Administrative right.)

[2017-11-20 11:58] m1911 commented on #165
hwloc-ls
root@c2241:~# hwloc-ls
Machine (7967MB total)
  NUMANode L#0 (P#0 4029MB) + Package L#0 + L3 L#0 (12MB)
    L2 L#0 (256KB) + L1d L#0 (32KB) + L1i L#0 (32KB) + Core L#0
      PU L#0 (P#0)
      PU L#1 (P#12)
    L2 L#1 (256KB) + L1d L#1 (32KB) + L1i L#1 (32KB) + Core L#1
      PU L#2 (P#2)
      PU L#3 (P#14)
    L2 L#2 (256KB) + L1d L#2 (32KB) + L1i L#2 (32KB) + Core L#2
      PU L#4 (P#4

[2017-11-20 12:00] m1911 commented on #165
Automatic configuration
"cpu_threads_conf" :
[
    { "low_power_mode" : false, "no_prefetch" : true, "affine_to_cpu" : 0 },
    { "low_power_mode" : false, "no_prefetch" : true, "affine_to_cpu" : 2 },
    { "low_power_mode" : false, "no_prefetch" : true, "affine_to_cpu" : 4 },
    { "low_power_mode" : false, "no_prefetch" : true, "affine_to_cpu" : 6 },
    { "low_power_mode" : false, "no_prefetch"

[2017-11-20 12:21] lh1008 commented on #155
@sergneo yesterday I had the same issue. Your windows doesn´t have installed the OpenCL.dll, or there is an error in the OpenCL.dll file. I downloaded the OpenCL.dll and installed and it worked. Got it from this site [dll4free](https://www.dll4free.com/opencl.dll.html). Use it at your own risk, follow instructions.

[2017-11-20 12:55] lh1008 commented on #171
@sergneo yesterday I had the same issue. Your windows doesn´t have installed the OpenCL.dll, or there is an error in the OpenCL.dll file. I downloaded the OpenCL.dll and installed and it worked. Got it from this site [dll4free](https://www.dll4free.com/opencl.dll.html) Use it at your own risk, follow instructions.

[2017-11-20 14:13] agisubagio commented on #170
My current config:

{ "index" : 0, "threads" : 96, "blocks" : 8, "bfactor" : 8, "bsleep" : 100, "affine_to_cpu" : false },

[2017-11-20 15:17] dlegend116 opened #173 "xmr-stak: relocation error (Ubuntu) can't get it to mine although GPU & CPU are good (xmr-stak-portbin-linux.tar.gz )"
I am using xmr-stak-portbin-linux.tar.gz complied exactly as the website instructs.

Here is the complete output(Please disregard the AMD platform not found I did not install these cards yet, just the GTX and Ryzen 7 CPU):

[2017-11-20 00:57:18] : Start mining: MONERO
 [2017-11-20 00:57:18] : Starting NVIDIA GPU thread 0, no affinity.
 [2017-11-20 00:57:18] : WARNING: No AMD OpenCL platform found.

[2017-11-20 15:30] AMDfreak commented on #153
I'm getting the same thing. Doesn't matter whether CUDA is on or off in the cmakelist file.

`Windows PowerShell
Copyright (C) Microsoft Corporation. All rights reserved.

PS C:\WINDOWS\system32> cmd
Microsoft Windows [Version 10.0.16299.64]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\system32>cd \

C:\>cd xmr-stak-master

C:\xmr-stak-master>"C:\Program Files (x86)\Microsoft V

[2017-11-20 16:07] dlegend116 commented on #173
Should I just compile from scratch as opposed to using the Portbin?

[2017-11-20 16:09] Clintoxen commented on #172
I think the default setting the miner is picking for gpus is too high and causing the miner to freeze up and crash. I had the same problem until I raised the bsleep etc

[2017-11-20 16:15] Clintoxen commented on #153
@khuffmanjr according to the error at the beginning this is your problem https://blogs.msdn.microsoft.com/ericparvin/2016/12/16/msb1009-project-file-does-not-exist-for-tfs-visual-studio-build-task/

[2017-11-20 16:57] sooth opened #174 "Feature Request: API support to change pools"
Due to the fairly "long" time it takes to generate the mining threads, it would be nice if we could pass in a pool via the API to change where we are currently mining.

Apologies if this is not the appropriate way to request this, I don't use GitHub much.

[2017-11-20 17:54] sergneo commented on #161
And how to run the miner without the Nvidia GPU ?

[2017-11-20 18:09] blacklion opened #175 "Crash on FreeBSD 11.1-STABLE with CPU backend"
Old xmr-stak-cpu (latest revision from github) works, but xmr-stak built without CUDA and OpenCL crashes with SIGSEGV and smashed stack right after start.

[code]
Built with Debug configuration it crashes with SIGILL (!!!)
Also, `mlock failed` is surprise for me, as it works for old version (latest xmr-stak-cpu):
[code]
amd64 (x86_64), clang 5.0.0.

[2017-11-20 18:10] psychocrypt commented on #165
Do you mining aeon or xmr?

Am 20.11.2017 1:00 Nachm. schrieb "m1911" <notifications@github.com>:

[2017-11-20 18:11] blacklion commented on #175
Ooops, I need to check working version more carefully.

[2017-11-20 18:19] gizmocruncher commented on #159
I saw the same drop when setting the intensity of the first thread to 2016 and the second to 1600. After setting them both to 1932, the performance seems comparable.

[2017-11-20 18:21] psychocrypt commented on #173
Which distribution do you use?
If the portable bin is not working than yes olease compile it from scratch.
The portable bin is an test if we can provide linux binaries.

[2017-11-20 18:25] psychocrypt commented on #172
please set bfactor to 8. This should solve the issue. We have a few issues
like that, mostly with low end gpus :-(

[2017-11-20 18:29] psychocrypt commented on #153
@AMDfreak please follow exactly the steps from the howto. You forget to
create the build files with cmake. Even if you have no cuda you need to run
the cmake command. Use the command which is within the cuda9 section.

[2017-11-20 18:54] m1911 commented on #165
@psychocrypt
Aeon or XMR are the same CPU 100% computing power drops a lot.

[2017-11-20 19:10] vitorgatti commented on #173
Same issue here

Ubuntu 17.10 x86_64

[code]

[2017-11-20 19:16] dlegend116 commented on #173
@psychocrypt I am using latest Ubuntu 17 x86_64 as @vitorgatti .

@vitorgatti did you manually compile from scratch? Still receiving same error as me using "portbin" shown in OP?

[2017-11-20 19:17] vitorgatti commented on #173
no, used the portbin, will compile from scratch now and see if it works

[2017-11-20 19:20] vitorgatti commented on #173
[code]

Downloading `nvidia-cuda-toolkit` and trying again in a few minutes...

[2017-11-20 19:23] dlegend116 commented on #173
This is all you need please tried I did and it worked to get CUDA going.

1. sudo dpkg -i cuda-repo-ubuntu1704_9.0.176-1_amd64.deb

2. sudo apt-key adv --fetch-keys
http://developer.download.nvidia.com/compute/cuda/repos/ubuntu1704/x86_64/7fa2af80.pub

3.sudo apt-get update

4.sudo apt-get install cuda

[2017-11-20 19:24] blacklion commented on #175
It is some local code mess, sorry for noise. But here are still problem with mlock for new version.

[2017-11-20 19:24] #175 closed

[2017-11-20 19:29] dlegend116 commented on #173
@vitorgatti can you post what you did to compile please?

[2017-11-20 19:33] vitorgatti commented on #173
[code]
[code]

Too much of a hassle to install deb files from outside now, compiled with `-DCUDA_ENABLE=OFF` for now, xmr-stak is working...

[2017-11-20 19:36] dlegend116 commented on #173
@vitorgatti can you post the steps so that I can try the way you did to also confirm, not strong in linux. That's why I didn't compile if you post what you did it will be help so I can more quickly get up and running

[2017-11-20 19:39] vitorgatti commented on #173
https://github.com/fireice-uk/xmr-stak/blob/master/doc/compile_Linux.md

[code]

Change `cmake ..` to `cmake -DCUDA_ENABLE=OFF ..` and you're good to go

[2017-11-20 19:47] blacklion opened #177 "xmr-stak with CPU backend crashes on FreeBSD 11.1-STABLE"
xmr-stak-cpu, latest commit:
[code]

xmr-stak, latest commit:
[code]

gdb bt:

[code]

Sorry for noise with double issue.

[2017-11-20 20:04] AMDfreak commented on #153
Thanks, that got things moving for me but I have now run into a different problem.  When running the resultant exe, I get 2 error popups, "The code execution cannot proceed because LIBEAY32.dll was not found".  The same message comes up for SSLEAY32.dll.

I started over to try to follow the guide to a T, so I'm not sure where I went wrong this time.

[2017-11-20 20:28] marcopineschi commented on #164
Hi, the host does not answer for ping requests, must be blocked on firewall, however I can telnet to port normally.
Also, other miner software is working on that same address and port.

[2017-11-20 20:58] tringwebdesign commented on #160
Version: xmr-stak/2.0.0/0005e4a/master/lin/nvidia-amd-cpu/aeon-monero/20

[2017-11-20 20:59] psychocrypt commented on #171
@sergneo  please update you cuda driver to the latest version https://developer.nvidia.com/cuda-downloads.
Also increase bfactor. You GPU is very slow and therefore the miner gets killed by the OS.

[2017-11-20 21:12] andrebardo commented on #173
Yes... working only on CPU...

[2017-11-20 21:23] psychocrypt commented on #153
I updated the documentation in #181

[2017-11-20 21:23] #153 closed

[2017-11-20 21:27] vitorgatti commented on #173
tried following the instructions to mine with cuda, but got the same error:

[code]

is the portbin file pre-compiled with cuda support? maybe that's why it's not working on Ubuntu 17.10?

[2017-11-20 21:38] psychocrypt commented on #166
It looks like the miner is correct compiled but the install procedure is crashing.
IN your case `cmake --build . --config Release` should be enough to create the binaries.

[2017-11-20 21:43] andrebardo commented on #173
I just installed gcc-5 and g++-5, switched to it with update-alternatives configured, and tried basic cmake ..

I got another error:

[code]
And a lot of other errors for the same ‘to_string’ issue.

[2017-11-20 21:45] vitorgatti commented on #173
it seems that cuda can't compile with gcc 5 or grater

[2017-11-20 21:45] andrebardo commented on #173
gcc version 5.4.1 20171010 (Ubuntu 5.5.0-1ubuntu1)

[2017-11-20 21:59] psychocrypt commented on #165
You must generate a new config(cpu.txt,amd.txt and nvidia.txt) if you
switched from monero to aeon or the oter way around.
The auto suggestion differ for both currencies.
Please to not use the some settings.

[2017-11-20 22:03] psychocrypt commented on #177
Could you please run `valgrind ./xmr-stak`

[2017-11-20 22:03] psychocrypt commented on #177
CC-ing: @fireice-uk

[2017-11-20 22:05] psychocrypt commented on #174
How long does it take to start the miner threads?

note: This is the right place to open feature requests.

[2017-11-20 22:15] psychocrypt commented on #161
@sergneo use `--noNVIDIA` to disable the nvidia GPUs.

[2017-11-20 22:56] blacklion commented on #177
Here are errors and warnings only, not full output:

[code]

[code]

But I'm not sure, that FreeBSD's valgrind supports AES-NI at all!
Ok, Lets try to disable AES-NI
Nope, it doesn't help. Ad IP at point of failure is bogus for sure. `0x7FFFDFFFDF82` can not be proper text segment address,
[code]

[2017-11-20 22:57] blacklion commented on #177
I've checked on xmr-stak-cpu, valgrind supports AES-NI no problem.

[2017-11-20 23:18] andrebardo commented on #173
I changed to clang 3.8 (used export CC and CXX function) and still getting errors...
I used:
[code]
and got this:
[code]
[...] There are a total of 20 errors like these.

[2017-11-20 23:27] blacklion opened #184 "Misaligned access to uint32_t"
According to clang 5.0.0 UBSan, here are misaligned access to 4-byte type (uint32_t):

https://github.com/fireice-uk/xmr-stak/blob/79154f76defa627255891888f4dd62453194fc2c/xmrstak/backend/cpu/minethd.cpp#L403

It could have performance consequences and will crash miner on platforms with more strict memory access.

[2017-11-21 02:27] amdvega commented on #159
Unfortunately my card crashes when setting both to 1932.  I get snowy static on the screen and then can't see anything and have to hard power cycle the box.  I'm using circusdad's blogspot guide, but that 1932 intensity setting definitely crashes me out.  After going through that guide I was able to squeeze out a few more H/s on xmr-stak-amd.  Now stable at 1876 at .875v on GPU core.  1900+ is elu

[2017-11-21 04:46] m1911 commented on #165
I tested the new Monero no more than 12 threads.
or
AEON CPU use 100%, the computational power is very low.

[2017-11-21 05:55] AniketBhadane opened #187 "Setting XMR-STAK as startup service in Ubuntu 16.04"
I'm running Ubuntu 16.04 as VMWare Virtual Machine. Downloaded xmr-stak-portbin-linux.tar.gz.

I created a xmr.service file in /lib/systemd/system/

[code]

Ran following commands in terminal:
sudo systemctl daemon-reload
sudo systemctl enable xmr.service
sudo systemctl start xmr.service
sudo systemctl stop xmr.service
sudo systemctl restart xmr.service

Restarted computer.

After Ubuntu restarted

[2017-11-21 07:05] psychocrypt commented on #184
Do you have a system where this unaligned memory is crashing the system?

[2017-11-21 07:10] Ghosthree3 commented on #166
Ok, that works fine. Could you quickly explain what --target install does if it's not needed to compile the binary? It's sounding like an option I wouldn't want to use anyway, I just want the binary, I don't want it moved somewhere on my system.

Any clue why it's not working anyway? Weird that this would be the thing to fail.

[2017-11-21 08:28] simonlui opened #189 "Windows SOCKET ERROR 4428:error:1410F0B9:SSL routines:SSL_set_cipher_list:no cipher match:.\ssl\ssl_lib.c:1305:"
I compiled using the instructions given on WIndows 10 FCU, Visual Studio 2017, using an Intel and Nvidia system. I am getting the following when connecting to pools that have TLS/SSL support.

I have another all AMD system that I compiled using Linux which doesn't have this issue and is connecting using the same TLS/SSL ports as the output listed.

Is there something up with the xmr-stak-dep opens

[2017-11-21 09:00] briangreunke commented on #156
I'm getting the same.

-------------------------------------------------------------------
xmr-stak 2.0.0 79154f7

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.

Configurable dev donation level is set to 2.0%

You can use following keys to display reports:
'h'

[2017-11-21 09:04] sergneo commented on #161
please correct the usage.md
------------------------------------
Usage: stak.exe [OPTION]...

  -h, --help            show this help
  -v, --version         show version number
  -V, --version-long    show long version number
  -c, --config FILE     common miner configuration file
  --currency NAME       currency to mine: monero or aeon
  --noCPU               disable the CPU miner backend
  --cpu

[2017-11-21 09:38] bernd289 commented on #164
same issue here and xmrig is working just fine with same address+port

[2017-11-21 10:07] at-bachhuynh opened #190 "Build on Windows 10 and CUDA 9: 66warning 0 error."
Edited!
Hi there,
I built it with 66 warning and 0 error.
In bin\Release folder have one exe file and it can not run.
I follow the guide: https://github.com/fireice-uk/xmr-stak/blob/master/doc/compile_Windows.md

Please help me!

[2017-11-21 10:35] at-bachhuynh commented on #190
I found that it can run now,
But get some error:
[2017-11-21 17:29:56] : Start mining: MONERO
WARNING: NVIDIA Insufficient driver!
[2017-11-21 17:29:56] : WARNING: backend NVIDIA disabled.
[2017-11-21 17:29:56] : WARNING: No AMD OpenCL platform found. Possible driver issues or wrong vendor driver.
[2017-11-21 17:29:56] : WARNING: backend AMD disabled.
[2017-11-21 17:29:57] : CPU configuration stor

[2017-11-21 10:42] at-bachhuynh commented on #190
Hi all,
I try to test your release again, and have the same error?
Please hardly check! Thank you!

[2017-11-21 11:03] sergneo commented on #190
Downloads drivers Nvidia 388.31  WHQL and everything will be fine.

[2017-11-21 12:05] psychocrypt commented on #166
The command is calling some post compile routines to copy the libraries and
executable to the install folder. Since you have not selected a extern
folder where all should be copied to it is not needed.
I am currently not sure why you get this error. It looks like your user has
not the rights to copy files but since the install routine is copy files
only to the subfolder it should work.
Our appVoye

[2017-11-21 12:11] psychocrypt commented on #189
please provide all commands you have used to build the miner.

[2017-11-21 12:21] psychocrypt commented on #164
I tested the pool with xmr-stak and everything is working.

[2017-11-21 12:23] psychocrypt commented on #164
Could you privide me with your login data that I can mine to your account
or are the login data also used for the webinterface.
I checked your logs again and saw that you get connected and after the
difficulty is changed the connection get lost.

[2017-11-21 12:28] sooth commented on #174
From shutdown to fully mining I would say it takes at least a couple minutes. I can run some exact numbers if you'd like. However as that does represent a fairly significant fraction of an hour, even an improvement there would be nice, especially if one would like to change currencies often. Thanks!

[2017-11-21 12:38] blacklion commented on #184
I think, ARM is such system, but I don't have one right now. Anyway, it is UB, as far as I remember.
https://stackoverflow.com/questions/28893303/is-a-misaligned-load-due-to-a-cast-undefined-behavior
And UB means compiler could do anything. Modern compilers is very good at exploit UB in optimizations.
This one looks innocent enough now, but we can not guarantee that next-after-next version of comp

[2017-11-21 12:54] bernd289 commented on #164
my cfg looks like this:

[code]

I prefer not to post my email address (wallet_address) in public (but I could send you a mail with complete config if you want)

[code]

maybe related to this? https://github.com/xmrig/xmrig/issues/97

[2017-11-21 13:28] at-bachhuynh commented on #190
@sergneo Not fine :(.
The hash rate very low with the same config.
And it not stable.

[2017-11-21 13:47] blacklion commented on #184
BTW, your code is surprisingly UB-free, at least at monero/CPU codepath. I've run it with UBSan and with ASan from clang 5.0.0 and this problem is only one found (after I patched #182)

[2017-11-21 14:12] ondrejtichacek opened #191 "Compilation error (CUDA, Linux), possibly XMR-STAK_THREADS"
Trying to compile on Ubuntu 16.04, GTX 760, with the following options, I get an error (below). When I compile without setting `-DXMR-STAK_THREADS=32`, the compilation is successful and I get 320 H/s, using 64 threads, and 12 Blocks. Don't know, whether this is ok or not (first time user).

Compile options:
[code]
Error:
[code]

[2017-11-21 14:45] ITwrx opened #192 "miner hangs/freezes"
this issue https://github.com/fireice-uk/xmr-stak-amd/issues/110 still seems to be present in xmr-stak-2.0.0. daemon mode seemed to help by a large margin with xmr-stak-amd but it would still eventually hang(3-4 days instead of hours/1-2 days). i'm trying daemon mode on xmr-stak-2.0.0 now. Regular mode hung up just like xmr-stak-amd did.
i have one machine that is still running xmr-stak-amd which

[2017-11-21 16:47] simonlui commented on #189
So using non-SSL works for now temporarily as a workaround. I still have work today before the Thanksgiving holiday in the US and will be busy for half a day Wednesday so it might be a while until I can reproduce the issue here.

I used a mix of command line and GUI to compile the application and the process worked perfectly up to the point of opening up my application, but I'll try and keep it co

[2017-11-21 17:11] lawrenceyan commented on #156
desktop:~/xmr/bin$ ./xmr-stak --noAMD
-------------------------------------------------------------------
xmr-stak 2.0.0 79154f7

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.

Configurable dev donation level is set to 0.0%

You can use following keys to displa

[2017-11-21 17:45] lawrenceyan commented on #156
@psychocrypt

[2017-11-21 19:00] psychocrypt commented on #164
@fireice-uk could you please check this issue. Could it be that the error
message is coming from tje backup pools and not from the active pool?
Is the connection to all pools active even if they are only backup pools?

[2017-11-21 19:30] blacklion commented on #184
Looks like, this answer is more relevant for C++ https://stackoverflow.com/questions/39908946/unaligned-memory-access-is-it-defined-behavior-or-not

As far as I understand, proper way is memcpy() which will be optimzied-away by any modern compiler to simple load when it is used with constant size, but will not be considered UB.
Or old-good shifts & ors like `uint32_t_var = ((uint32_t)buf[13] << 24

[2017-11-21 19:43] psychocrypt commented on #192
Do you have overclocked and/or undervolted your equipment?
If so this can be the reason for the freezes. The memory error rate
increases very soon if it is overclocked.

[2017-11-21 19:56] psychocrypt commented on #177
fixed with #182

[2017-11-21 19:56] #177 closed

[2017-11-21 20:11] psychocrypt commented on #189
@fireice-uk could you please check this TSL issue

[2017-11-21 20:49] psychocrypt commented on #161
solved with #196

[2017-11-21 20:49] #161 closed

[2017-11-21 21:00] saylor68 commented on #190
not to threadjack, but only comment, I hope to add to this desc also - when I compiled I had '60' warnings '0' errors , but i did not study the output warnings. it compiled the EXE, which did execute. when I get home from work tonight I will recompile and study/post here the warnings. Win10x64 - followed the windoze compile guide (which is great BTW).

thanks!
- saylor

[2017-11-21 21:01] psychocrypt commented on #156
which OS?

[2017-11-21 21:31] aensley opened #198 "Nvidia build problems on Ubuntu 17.10 "cannot find libdevice for sm_30""
Hello, kind devs. I'm still having trouble building this project. I previously opened an issue on xmr-stak-nvidia: fireice-uk/xmr-stak-nvidia#180

I am having the same problem with the latest version of xmr-stak. I'm running an Nvidia GeForce GTX 650 Ti on Ubuntu 17.10.

Errors:

[code]

Clang version:

[code]

Cmake command:

[code]

Configuration:

[code]

Build (verbose):

[code]

[2017-11-21 21:36] aensley commented on #198
I also tried again with GCC5. I received a different error this time, but it seems to be caused by some change with `stdlib`.

Errors:

[code]

Cmake command:

[code]

Configuration:

[code]

Build:

[code]

[2017-11-21 21:42] twotwatsabroad opened #199 "Window spammed with Error CL_MEM_OBJECT_ALLOCATION_FAILURE"
Windows 10.

6 x AMD RX 580 GPUS

Running spams the following message over and over at a rapid rate:
[2017-11-21 21:40:51] : Error CL_MEM_OBJECT_ALLOCATION_FAILURE when calling clEnqueueNDRangeKernel for kernel 0.

It is mining and getting results, but this is obviously something wrong, any ideas?

[2017-11-21 21:49] aensley commented on #198
Finally tried the pre-compiled Linux binary. That also did not work. `relocation error`. It did pick up my Nvidia card with the same architecture I've been trying to build with (`30`).

It gave me this nvidia.txt config file:

[code]

Run output:

[code]

[2017-11-21 22:11] psychocrypt commented on #190
Only a few warnings are interesting the post are f...ing windows stuff. Do
not worry the warnings are no problem.

[2017-11-21 22:13] psychocrypt commented on #199
please post the file amd.txt. Do you changed any co figs within the file
amd.txt?

[2017-11-21 22:29] g-uint commented on #156
@psychocrypt, I'm running Fedora 26, kernel 4.13.9-200.fc26.x86_64

[2017-11-21 22:37] psychocrypt commented on #156
Could you please compile with `cmake -DCMAKE_BUILD_TYPE=Debug ..` and repeat the gdb session.
If the miner is crashing in gdb please type `bt` and press ENTER. The output will show hopfully the broken line.

[2017-11-21 23:02] mojimi opened #200 "Auto configuration not assigning the correct physical CPU cores on Windows 10, why not a benchmark option to test different configs and find the fastest?"
Hello, I tested this using an Intel i5 4200

4 threads, 2 cores

The auto config set 2 threads to core 0 and 2.

But after some benchmarking I found out that the actual physical cores are ID 0 and 1, which net a great increase in hashrate.

[2017-11-21 23:42] Grimm2017 opened #201 "Improve device initialization startup time"
It takes 12 seconds per card to initialize on my rig.  In a 12 card rig that adds up, especially if you're running an auto restart script to restart the miner when Vega hash rates drops.  By contrast Cast XMR starts mining almost immediately upon launch.  Not a huge problem but every little bit of performance helps.

[2017-11-22 01:35] lawrenceyan commented on #156
@psychocrypt Running Ubuntu 14.04
Core with debug enabled:
'
gdb ./xmr-stak core
GNU gdb (Ubuntu 7.7.1-0ubuntu5~14.04.3) 7.7.1
Copyright (C) 2014 Free Software Foundation, Inc.
License GPLv3+: GNU GPL version 3 or later <http://gnu.org/licenses/gpl.html>
This is free software: you are free to change and redistribute it.
There is NO WARRANTY, to the extent permitted by law.  Type "show copying"
and

[2017-11-22 02:04] lawrenceyan commented on #156
@psychocrypt
dlt = wt_max - wt_min
wt_max = *std::max_element(pool_weights.begin(), pool_weights.end());
wt_min = *std::min_element(pool_weights.begin(), pool_weights.end());

In my config.txt file, my pool_list only contains a single address. Perhaps the code requires a minimum of two elements within pool_list to properly function?

[2017-11-22 02:15] at-bachhuynh commented on #190
miner is runnninf. Please keep in mind a warning is no error.
In the first post you wrote you followed the linux compile guide but build
a windows binary.

Hi @psychocrypt P
Thank you for your reply.
I edited the first post, my mistake about the link to the guide.
I this the driver is the new problem for us.
I tested as follow:
- I use Driver 382.53 for my P106-100 Nvidia Card (1060 6G without out

[2017-11-22 02:20] ITwrx commented on #192
no. all stock/factory.

[2017-11-22 02:51] saylor68 commented on #190
@at-bachhuynh  forgive me for jumping onto your post - and if needed I will move to some other post, but these are sample warnings I have that I thought may be interesting. see if you have some of the same errors when compiling:
D:\xmr-stak\xmr-stak\crypto\c_blake256.c(151): warning C4244: '=': conversion from 'uint64_t' to 'int', possible loss o
f data [D:\xmr-stak\xmr-stak\build\xmr-stak-c.vcxpr

[2017-11-22 03:27] chiwalfrm opened #202 "Unable to compile on Ubuntu 16.04.3 LTS"
have met all dependency requirements.
rig has both one 1070 GTX (Nvidia) and three AMD RX 480-8GB.
have installed AMD APP SDK 3.0 (AMD-APP-SDKInstaller-v3.0.130.136-GA-linux64)
have installed Cuda 9.0.

the error is at "make install" command.

[code]

[2017-11-22 04:13] fireice-uk commented on #184
@blacklion Unaligned mem load / store will cause an exception on ARM and SSE instructions in x86.

First one is not a problem, the miner is optimised for SSE2 instruction set, this nicely explains your second observation =)

[2017-11-22 04:17] fireice-uk commented on #184
@psychocrypt There is no way of dealing with it. In practice for an unaligned word (which can be 32 or 64 bits) the CPU needs to load 2 words, and do the shifts to load a byte value. That's why x86 does it transparently in day-to-day code.

[2017-11-22 07:42] alextrezvy commented on #202
Me also unable to compile on Ubuntu 16.04. The error is: "make[2]: *** No rule to make target '/home/user/AMDAPPSDK-3.0/lib/x86_64/libOpenCL.so', needed by 'bin/libxmrstak_opencl_backend.so'.  Stop".

[2017-11-22 07:42] psychocrypt commented on #200
Do you compiled the miner by your own? Can you run someyhing like hwloc
https://www.open-mpi.org/software/hwloc/v1.11/ and post the output.

[2017-11-22 07:47] psychocrypt commented on #201
please post the output of the miner until all gpus are running.
Which cpu is i build in you rig.

[2017-11-22 07:51] psychocrypt commented on #156
No thats mot the problem. I think with a dbug compile ad than using gdb we
will locate the bad code.

[2017-11-22 08:00] psychocrypt commented on #190
Please open an new issues for the warning. Else we mix two issues and
nobody can follow the process to solve it.

Am 22.11.2017 3:51 Vorm. schrieb "saylor68" <notifications@github.com>:

[2017-11-22 08:03] psychocrypt commented on #190
You can install cuda 8 and build the miner for fermi and for pascal.
A programm build with an old cuda is also ru ning on a new driver but not
the other way around.

[2017-11-22 08:09] psychocrypt commented on #202
"__builtin_ia32_pf2iw" is undefined

There is something wrong with your system compiler you have a undifined
function in a system header. Thats nothing we can fix. I will try to
reproduce it in a docker container but think thats something wrong with
your installation.

[2017-11-22 08:20] hanserasmus commented on #167
Thank you, this worked well.

For anyone coming upon this thread, my final command was something like:

`./xmr-stak --cpu cpu_day.txt --noNVIDIA`

[2017-11-22 08:20] #167 closed

[2017-11-22 08:53] NicolBol opened #203 "[Feature request] GPU PCI ID in logs"
Hi,

I'm having trouble identifying a faulty GPU that makes xmr-stak (amd backend) hangs.

I'd need the messages to be more verbose and eventually to include the PCI ID of the GPU when a result is sent out by its thread, to pinpoint the one that didn't send result.

Also, in case of kernel panic, having the messages stored in a file or sent to a syslog server would greatly help.

Thanks in advance

[2017-11-22 09:29] at-bachhuynh commented on #190
Hi @psychocrypt,
I build it with CUDA8,
I stay the driver 382.53, and this is result:
[code]
-----------------------------------------------------

What the problem we got? :(

[2017-11-22 09:43] psychocrypt commented on #190
Sry I don not get it, is there still an issue? The hash rates looks good or
not?

[2017-11-22 11:12] twotwatsabroad commented on #199
It seems that this was related to my operating system, after updates this is no longer happening. I believe this issue is closed, thanks.

[2017-11-22 11:12] #199 closed

[2017-11-22 12:51] va511e commented on #156
Had the same issue, created a pr with a possible fix: #206

[2017-11-22 12:53] ndaman opened #207 "feature request: pause"
I think it would be great if there was a 'p' to pause option while running.

[2017-11-22 13:12] va511e commented on #156
fix already in dev branch, pr closed

[2017-11-22 13:31] blacklion commented on #184
@fireice-uk  UB always is the problem, IMHO. And it is UB, under different wordings in C and C++. Yes, on all target platforms CPU is capable to hide this access, but compiler could be a problem, not CPU. This one doesn't cause problems now, for sure, but. maybe, add comment that it is known UB and it is harmless now, but we need to keep eye on it?

[2017-11-22 14:12] mojimi commented on #200
@psychocrypt Which one? the Istopo GUI?

And no I did not compile on my own

[2017-11-22 14:46] AniketBhadane commented on #187
It seems that xmr-stak.sh only reads the config file if you start it manually. If I add the -c option with the path of config file, it works.

ExecStart=/home/aniket/xmr-stak.sh -c /home/aniket/config.txt

[2017-11-22 14:53] ITwrx commented on #192
btw, the miner that runs 24/7 without issue is using
kernel: 4.12.8-2
ocl-icd 2.2.11-1
opencl-amd 17.10.410326-1
opencl-headers 2:2.2.20170516-1

while the trouble maker is using
kernel: 4.13.12-1
ocl-icd 2.2.11-1
opencl-amd 17.40.483984-1
opencl-headers 2:2.2.20170516-1
opencl-mesa 17.2.5-1

i don't know what you've tested with.

[2017-11-22 15:28] at-bachhuynh commented on #190
as you see:
HASHRATE REPORT - NVIDIA
| ID | 10s |  60s |  15m | ID | 10s |  60s |  15m |
|  0 | 530.5 | (na) | (na) |  1 | 505.0 | (na) | (na) |
|  2 | 545.1 | (na) | (na) |  3 | 545.6 | (na) | (na) |
|  4 | 544.2 | (na) | (na) |  5 | 501.3 | (na) | (na) |
|  6 | 393.8 | (na) | (na) |
The hashrate is very very bad :|

[2017-11-22 15:57] psychocrypt commented on #192
Could you change the software of the rig which is freezing to the same than
the running system.
With the current information I would say it is an driver issue. Normally
the miner which runnning i  userspace ahould not be able to crash the gpu
or system.

[2017-11-22 16:00] psychocrypt commented on #190
Is this the hash rate with cuda9 or cuda8?
It could be that cuda8 is faster if so please switch ro cuda8.

If you use the word bad please give exact numbers what you expect. I follow
around 30 issues thus I can not remember each hashrate.

[2017-11-22 16:34] vitorgatti commented on #173
No news about this? Which Ubuntu version was the portbin compiled?

[2017-11-22 17:13] ITwrx commented on #192
i'll look into it. i don't like stopping the miners. :) i should clarify that xmr-stak nor xmr-stak-amd are able to crash the whole system for me. i just can't kill the xmr-stak/xmr-stak-amd process so i have to log into another terminal and reboot and restart xmr-stak.

[2017-11-22 17:51] chiwalfrm commented on #202
@alextrezvy you can fix that error with:
sudo ln -s /opt/amdgpu-pro/lib/x86_64-linux-gnu/libOpenCL.so /usr/lib/libOpenCL.so.1

[2017-11-22 18:09] chiwalfrm opened #208 "Is issue #11 fixed in the pre-compiled Windows version?"
Downloaded xmr-stak-win64.zip today from https://github.com/fireice-uk/xmr-stak/releases/tag/v2.0.0
it is latest version (post says it was released 3 days ago).

I get the error : "MEMORY ALLOC FAILED: VirtualAlloc failed." twice.  Have 2 physical cores with hyperthreading turned on = 4 logical cores.

I searched github issues and found this: https://github.com/fireice-uk/xmr-stak/issues/11
which

[2017-11-22 19:46] TheCHIM opened #209 "SOCKET ERROR any pool"
I'm using xmr-stak-portbin-linux.tar.gz. OS CentOS 6.9 and here such error appears at start xmr-stak:

./xmr-stak.sh
-------------------------------------------------------------------
xmr-stak 2.0.0 0005e4a

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.
Based

[2017-11-22 19:48] psychocrypt commented on #209
Please compile it by your own we see this issue a few times inthe last
days. :(

[2017-11-22 19:58] TheCHIM commented on #209
I would be happy, but ..:

`cmake3 ..
-- The C compiler identification is GNU 4.4.7
-- The CXX compiler identification is GNU 4.4.7
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-- Check for working CXX

[2017-11-22 20:23] Pentoman opened #210 "Xmr Stops working , hwloc: memory pinned but memory access error"
Running 4.13.0-kali1-amd64 #1 SMP Debian 4.13.13-1kali1 (2017-11-17) x86_64 GNU/Linux

self complied from latest rel source::

-- The C compiler identification is Clang 4.0.1
-- The CXX compiler identification is Clang 4.0.1
-- Check for working C compiler: /usr/bin/clang-4.0
-- Check for working C compiler: /usr/bin/clang-4.0 -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI i

[2017-11-22 20:34] rtzoeller commented on #207
I plan on looking into implementing this over the next week or two

[2017-11-22 20:43] DrOctavius opened #211 "WINDOWS 10 Compilation: LINK : fatal error C1900: Il mismatch between 'P1' version '20161212' and 'P2' version '20150812'"
LINK : fatal error C1900: Il mismatch between 'P1' version '20161212' and 'P2' version '20150812'

"C:\Users\USERr\Desktop\xmr\xmr-stak\xmr-stak\build\install.vcxproj" (default target) (1) ->
"C:\Users\USER\Desktop\xmr\xmr-stak\xmr-stak\build\ALL_BUILD.vcxproj" (default target) (3) ->
"C:\Users\USER\Desktop\xmr\xmr-stak\xmr-stak\build\xmrstak_cuda_backend.vcxproj" (default target) (7) ->
(CustomBu

[2017-11-22 22:33] saylor68 commented on #208
helpful questions - did you set your local policy to lock memory? that did it for me. also have lots of virtual space above 16384 I'd say.

[2017-11-22 22:46] lawrenceyan commented on #156
@psychocrypt @va511e Recompiled with fix and now it no longer crashes, however:

-------------------------------------------------------------------
xmr-stak 2.0.0 0c67b32

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.

Configurable dev donation level is set to

[2017-11-22 22:47] HydraGene opened #212 "[CUDA] Error gpu 0: <C:/Users/MAIN/github/xmr-stak/xmrstak/backend/nvidia/nvcc_code/cuda_extra.cu>:244"
Hello,
After running the miner, it crashes with the following going on in the command-line window.
I am running Windows10, i7-5700HQ CPU and GTX 960M GPU.
Any help?
[code]

[2017-11-23 01:06] fireice-uk commented on #155
@lh1008 and others. Please DO NOT use "missing dll" sites. You wouldn't use a "missing exe" site, would you? DLL is an EXE file.

[2017-11-23 01:18] lh1008 commented on #155
Ok @fireice-uk....I'm new on this, what can we do with the error showing up?

[2017-11-23 01:53] at-bachhuynh commented on #190
Goodmorning,
That is hashrate on CUDA8, and CUDA9 is the same.
I expect it can work normally like XMR-STAK-NVDIA:
HASHRATE REPORT
| ID |  10s |  60s |  15m | ID |  10s |  60s |  15m |
|  0 | 579.3 | 579.9 | 579.7 |  1 | 578.3 | 579.0 | 579.1 |
|  2 | 579.0 | 578.9 | 578.9 |  3 | 578.9 | 579.4 | 579.6 |
|  4 | 580.1 | 579.9 | 579.7 |  5 | 580.2 | 580.6 | 580.6 |
|  6 | 580.6 | 580.0 | 580.2 |  7 |

[2017-11-23 01:55] lh1008 commented on #155
@fireice-uk ..... I removed the dll exe file.  I´m new on this and what I did was clicked ok to the error, and the miner started by itself. Is this ok?
![capture](https://user-images.githubusercontent.com/7443480/33156391-4d61f2a6-cfc7-11e7-8268-010237c1fd21.PNG)
Thank you :)

[2017-11-23 05:36] sergneo commented on #208
Best 32768

[2017-11-23 07:41] psychocrypt commented on #211
If you compile with v140 than you need to download xmr-stak-dep for cuda8
else for cuda 9. please see the compile guide.

[2017-11-23 07:44] psychocrypt commented on #156
please open a new issue and not write into an existent with a fully
different problem.

[2017-11-23 07:47] psychocrypt commented on #212
set bfactor i nvidia.txt to 8 or/and reduce threads

[2017-11-23 07:49] psychocrypt commented on #190
What was the hashrate with xmr-sak-nvidia?

[2017-11-23 09:06] Russellx2000 opened #213 "32 bit release for Windows 10"
Can you please compile a version for 32 bit systems. (or can someone tell me the steps to do so)

[2017-11-23 09:19] psychocrypt commented on #213
This is not possible our code ia not support 32bit architectures. The
expected hash rate will be extrem low.

[2017-11-23 10:34] sergneo commented on #213
But there is a PC with a 32 bit OS, where it is impossible to change the system.
And no matter what would be the hash, it will still be above 0. It's better than nothing.

[2017-11-23 10:47] psychocrypt commented on #213
The effort to support 32bit systems is large. We need to focus our small
amount of time to other improvements.
Feel free to open a pull request to add 32bit support.

[2017-11-23 12:43] lh1008 commented on #155
Thank you.. :), I removed the dll files. Started the miner and its working correctly. The error showed up, but then I clicked ok, and the miner continued without any issues. When I first got the message I was in a rush and just closed it and went to find the files. I´m new in this, so I have to be more careful. Thank you for support. If I get any issues I´ll be back for help. Great day.

[2017-11-23 13:12] zhiapp-com opened #214 "freebsd xmr-stak 2 Program running problem"
freebsd11 xmr-stak 2 Program running problem

pkg install git libmicrohttpd hwloc cmake

git clone https://github.com/fireice-uk/xmr-stak.git
mkdir xmr-stak/build
cd xmr-stak/build
cmake -DCUDA_ENABLE=OFF -DOpenCL_ENABLE=OFF -DHWLOC_ENABLE=OFF ..
make install

info:
xmr-stak 2.0.0 79154f7

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optim

[2017-11-23 14:07] HydraGene commented on #212
Thanks a lot! I set the bfactor to 8 and it instantly worked!

Now that I took a closer look at the nvidia.txt, I saw the recommended bfactor was 8. Now on to the fine-tuning of the other options I guess.

[2017-11-23 14:08] #212 closed

[2017-11-23 15:54] DrOctavius commented on #211
Well...yes i did step by step many times... i have CUDA 9
Downloaded the specific xmr-stak-dep and urchived...

..../cmake -G "Visual Studio 15 2017 Win64" -T v141,host=x64 ..
-- The C compiler identification is MSVC 19.10.25019.0
-- The CXX compiler identification is MSVC 19.10.25019.0
-- Check for working C compiler: D:/ProgramFiles/VS/VC/Tools/MSVC/14.10.25017/bin/HostX64/x64/cl.exe
-- Check fo

[2017-11-23 17:54] HydraGene opened #216 "feature request: dividing hashing-power over multiple pools"
We can add multiple pools in our configuration. Several as a fallback in case pool#1 can't be reached, so it hops to pool#2.

But I would like to be able to divide my hashing-power over multiple pools. For example:
moneropool#1: 25% hashing-power
moneropool#2: 75% hashing-power

Would be nice for this to even work with different coins which basically have the same algorithm. (I'm not sure if this

[2017-11-23 18:32] adrenalinedj opened #217 "SOCKET ERROR - [xmr.pool.minergate.com:45560] CALL error: Timeout while waiting for a reply"
Hello,

I've cloned and compiled the last release and I'm facing this issue.
I'm on Ubuntu 16.04 with a GTX1060 6GB.

Here are the errors, I'm getting:

[2017-11-23 19:26:24] : Pool xmr.pool.minergate.com:45560 connected. Logging in...
[2017-11-23 19:26:26] : Difficulty changed. Now: 1063.
[2017-11-23 19:26:26] : Pool logged in.
[2017-11-23 19:26:42] : All pools are dead. Idling...
[2017-11-23 19:

[2017-11-23 18:34] zoro10 opened #218 "illegal instruction after cmake instruction"
hi at all, I'm tryng to compile xmr-stack on fedora 27 but I have the result:

`Illegal instruction (create core dump)`

any ideas ?
thanks for the response

[2017-11-23 18:50] psychocrypt commented on #216
This feature was planned but skiped. Maybe it will in in one of the next
releases.

[2017-11-23 18:51] psychocrypt commented on #217
@fireice_uk could you please check this.

[2017-11-23 18:53] psychocrypt commented on #218
Do you compiled the miner on a different system? Please check the
documentaion there is a flag to compile xmr-stak in generic mode.
XMR-STAK_COMPILE=generic

[2017-11-23 18:58] fromcouch opened #219 "Mac OS X No AMD OpenCL platform found"
After clone i've modified next file:

    nano xmrstak/backend/amd/amd_gpu/gpu.hpp

And add:
     `#include <string> `

for compile. I read in other issue.

Then execute And says:

Then begins to work with CPU.
Anyone knows what i need to do to mine with GPU?

Thanks

P.D.: I Have AMD Radeon R9 M370X 2048 MB

[2017-11-23 19:16] psychocrypt commented on #219
already fixed in the dev branch #194

[2017-11-23 19:17] psychocrypt commented on #218
https://github.com/fireice-uk/xmr-stak/blob/master/doc/compile.md#generic-build-options

[2017-11-23 19:18] #213 closed

[2017-11-23 19:18] psychocrypt commented on #170
solved by increasing bfactor

[2017-11-23 19:18] #170 closed

[2017-11-23 19:45] neoh opened #220 "Low hashrates on XMR + ETN"
Getting  on average 300 h/s per RX 570. Getting double that on Windows and I thought that was pretty poor.
Running Ubuntu 16.04 with Saphire + MSI RX 4gb 570's.

[2017-11-23 20:07] psychocrypt commented on #220
Please post:

- which driver do you use
- your amd.txt
- which pool
- output of `./xmr-stak -V`
- output of `clinfo`

[2017-11-23 20:10] psychocrypt commented on #214
please compile with `cmake -DCMAKE_BUILD_TYPE=Debug ..` and run with with the debugger `gdb`

[code]

and post all output

[2017-11-23 20:11] psychocrypt commented on #210
please compile with `cmake -DCMAKE_BUILD_TYPE=Debug ..` and run with with the debugger `gdb`

[code]

and post all output

[2017-11-23 20:14] psychocrypt commented on #201
Please post
- the hardware used in the rig. GPUs, RAM, CPU, ...
- you config `amd.txt` (if you changed the config please also post the auto suggested config)
Normally the startup time should be small.

[2017-11-23 20:17] neoh commented on #220
Thanks for the quick response.

amdgpu-pro 17.40 is the driver
amd.txt
`"gpu_threads_conf" : [
  { "index" : 0,
    "intensity" : 1920, "worksize" : 8, // Have tried 4, 8, 16, 32
    "affine_to_cpu" : false,
  },
  { "index" : 1,
    "intensity" : 1920, "worksize" : 8,
    "affine_to_cpu" : false,
  },

],`

For ETN I've used http://electroneum.ovh/ and https://eupool.electroneum.com/
For XMR I've

[2017-11-23 20:24] psychocrypt commented on #191
Thanks for reporting: Please repeat `-DXMR-STAK_THREADS=32
` until the bug is fixed

[2017-11-23 20:27] psychocrypt commented on #191
fixed with #221

[2017-11-23 20:27] #191 closed

[2017-11-23 20:29] psychocrypt commented on #171
@sergneo  Please also increase bfactor in `nvidia.txt` to 8 and/or reduce `threads`. Your GPu is to slow and therefor ethe miner is killed by the OS

[2017-11-23 20:34] psychocrypt commented on #220
you missed some information:

- `./xmr-stak -V` or `./xmr-stak --version-long`
additionally
- could you please also post the auto suggested config (removre `amd.txt` to trigger a new config generation) and the hash rate with this config.

[2017-11-23 20:38] neoh commented on #220
Sorry.

Version: xmr-stak/2.0.0/79154f7/master/lin/amd-cpu/aeon-monero/0

`"gpu_threads_conf" : [
  // gpu: Ellesmere memory:3712
  // compute units: 32
  { "index" : 0,
    "intensity" : 768, "worksize" : 8,
    "affine_to_cpu" : false,
  },
  // gpu: Ellesmere memory:3712
  // compute units: 32
  { "index" : 1,
    "intensity" : 768, "worksize" : 8,
    "affine_to_cpu" : false,
  },

],`

[2017-11-23 20:39] psychocrypt commented on #220
what is the hash rate with the suggested config?

[2017-11-23 20:40] neoh commented on #220
The proper hashrate. Sorry for wasting your time!

[2017-11-23 20:40] #220 closed

[2017-11-23 20:41] #156 closed

[2017-11-23 20:42] fromcouch commented on #219
@psychocrypt I've just applied #194 and is compiling fine. I'm not asking about problems compilation. I'm asking about WARNING telling that AMD platform isn't found.

If you read carefully the first post I'm saying that I did #194 to compile, and then I have this three warning:

And then, xmr-stak begin work with CPU and not with GPU that is I want.
How can I begin mine with AMD?

[2017-11-23 20:44] bernd289 commented on #217
same bug: https://github.com/fireice-uk/xmr-stak/issues/164

[2017-11-23 20:48] psychocrypt commented on #220
No problem, **do not forget to increase you fee** :-)

Please read https://github.com/fireice-uk/xmr-stak/blob/master/doc/tuning.md#increase-memory-pool and create a new auto suggestion after you set the environment variables. This must be done each time before you star the miner. Maybe this will increase your hash rate a little bit (maybe also more than 2% than you have air for the fee).

[2017-11-23 20:48] lawrenceyan opened #222 "Socket Error"
From a clean debug install from most recent develop branch

xmr-stak 2.0.0 0c67b32

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.

Configurable dev donation level is set to 2.0%

You can use following keys to display reports:
'h' - hashrate
'r' - results
'c' -

[2017-11-23 20:51] psychocrypt commented on #219
Sry for the fast close. The second issue should be fixed with #197

[2017-11-23 20:53] psychocrypt commented on #222
Please switch to a non TLS port as long as the issue is open.
@fireice-uk Could you please check this.

[2017-11-23 21:17] lawrenceyan commented on #222
xmr-stak 2.0.0 0c67b32

Brought to you by fireice_uk and psychocrypt under GPLv3.
Based on CPU mining code by wolf9466 (heavily optimized by fireice_uk).
Based on NVIDIA mining code by KlausT and psychocrypt.

Configurable dev donation level is set to 2.0%

You can use following keys to display reports:
'h' - hashrate
'r' - results
'c' - connection

[2017-11-22 14:40:58] : Start mining: MONERO
[20

[2017-11-23 21:21] psychocrypt commented on #222
please post you config.txt it looks like you have activated tls for this
pool.

[2017-11-23 21:36] lawrenceyan commented on #222
Configure.txt

"tls_secure_algo" : false,
"pool_list" : [{"pool_address" : "pool.supportxmr.com:7777", "wallet_address" : "4AHtJCF7Njz3Eyg7RbQuRXBvgbp8nfRjtdH5LK6qbUVtYBqGb7QCdXiXMqZZWTRRXv1LLs489pka5jFFjp4nbx9T81ypNtC", "pool_password" : "x", "use_nicehash" : false, "use_tls" : true, "tls_fingerprint" : "", "pool_weight" : 1 },],
"currency" : "monero",
"call_timeout" : 10,
"retry_time" : 30,
"giv

[2017-11-23 21:38] lawrenceyan commented on #222
Yes, I really would prefer not to use ssl mainly because of security concerns.

[2017-11-23 21:38] psychocrypt commented on #222
set use_tls to false

[2017-11-23 22:46] fromcouch commented on #219
Thanks @psychocrypt  , was #197
Works like a charm :)

[2017-11-23 22:46] #219 closed

[2017-11-24 01:51] testingMonero opened #224 "Cannot compile on Visual Studio 2015"
Hello, we are try for build your miner for mining laboratory using VS2015.

Latester version 2 -

Having problems compiling libwloc.lib on VS2015. On the libhwloc.dll link stage following error -

libhwloc.lib(topology.obj) : MSIL .netmodule or module compiled with /GL found; restarting link with /LTCG; add /LTCG to the link command line to improve linker performance
fatal error C1900: Il mismatch

[2017-11-24 01:58] zhiapp-com commented on #214
root@freebsd:/xmr-stak/build/bin # gdb -ex r -ex tb --args ./xmr-stak
GNU gdb 6.1.1 [FreeBSD]
Copyright 2004 Free Software Foundation, Inc.
GDB is free software, covered by the GNU General Public License, and you are
welcome to change it and/or distribute copies of it under certain conditions.
Type "show copying" to see the conditions.
There is absolutely no warranty for GDB.  Type "show warranty"

[2017-11-24 02:28] at-bachhuynh commented on #190
This is:
HASHRATE REPORT
| ID | 10s | 60s | 15m | ID | 10s | 60s | 15m |
| 0 | 579.3 | 579.9 | 579.7 | 1 | 578.3 | 579.0 | 579.1 |
| 2 | 579.0 | 578.9 | 578.9 | 3 | 578.9 | 579.4 | 579.6 |
| 4 | 580.1 | 579.9 | 579.7 | 5 | 580.2 | 580.6 | 580.6 |
| 6 | 580.6 | 580.0 | 580.2 | 7 | 579.7 | 580.1 | 579.9 |

[2017-11-24 05:16] zoro10 commented on #218
I have the error after the cmake command

[2017-11-24 05:23] sergneo commented on #171
I have long know about it and always put on all GPU "bfactor" : 8, "bsleep" : 100, hash is not reduced.
Can the miner to set the same parameters for all.

[2017-11-24 06:53] chiwalfrm commented on #208
@saylor68 Windows 10: i checked local policy and it is by default already set to lock memory for my user ID.  I also had 16384 set for swap min/max.  I increased it to 32768 but I still get this error "MEMORY ALLOC FAILED: VirtualAlloc failed."

[2017-11-24 07:03] RoiTainMent commented on #210
i also experience this issue in windows, not quite sure how to compile it as I am unsure how to specify a file path within windows to link the files i need (i assume the dep zip?) if you can assist in pathing I can compile a debug version for this as well

[2017-11-24 07:05] sergneo commented on #208
So little RAM, increase the memory. A Minimum Of 8 GB

[2017-11-24 07:11] chiwalfrm commented on #208
actually my bad.  i rebooted after the change to 32767 and it seems to be ok now.  Thanks all!

[2017-11-24 07:18] chiwalfrm commented on #208
@saylor68 @sergneo Specifically the increase of virtual memory from 16384 to 32768 eliminated the error.  Will close this issue now thank you!

[2017-11-24 07:18] #208 closed

[2017-11-24 07:20] psychocrypt commented on #224
please post the link where you downloaded hwlink from.
Which cuda do you use?

[2017-11-24 07:23] psychocrypt commented on #214
Mhh I hoped to see more error messages.
Please post you hardware configuration.
Please run `cat /proc/cpuinfo` or similar to show all features of your cpu.
I am not sure if the command is correct I never used a bsd system.

[2017-11-24 07:29] psychocrypt commented on #190
Do you use the same config for both miner?
Please post the nvidia.txt of the new miner and the threadconf of the old
miner.

[2017-11-24 07:30] psychocrypt commented on #218
Please provide pore information. Ppost the history of all comamnd you used
to compile xmr-stak and the full output of cmake within a empty build
folder.

[2017-11-24 07:34] psychocrypt commented on #171
I added a fix to the dev branch for low end gpus. The issue is the f...ing
OS (sry I am windows hater) and the liw end gpu.

Btw is the miner now running?

[2017-11-24 07:50] at-bachhuynh commented on #190
Yes,
The same config!

[2017-11-24 07:54] hklcf commented on #164
sam ehere

[2017-11-24 07:54] psychocrypt commented on #190
please post the config. If you changed the config by hand please post also
the auto suggested config (remove nvidia.txt to generate a new config)

[2017-11-24 07:56] gokulkannankgm opened #225 "Feature request : GPU temperature and Fan speed stats in API data"
GPU temperature and Fan speed statistics via API will be helpful to monitor remote rigs.

[2017-11-24 08:06] psychocrypt commented on #225
Why do you not ise a monitoring tool like ganglia or nagios?

[2017-11-24 09:04] lisergey commented on #214
to see BSD features would be good to issue
`cat /var/run/dmesg.boot | head -n 20`

[2017-11-24 09:35] sergneo commented on #171
Yes works successfully and produces about 64 hash.I just have a lot of these GPU on the chip GK208, let them work.
On GF108 Nvidia GT730 is not working. Architecture is not like him.
[code]

[2017-11-24 10:38] pascalwacker opened #226 "Compiling for Nvidia fails on Ubuntu 17.04"
My Laptop has a Nvidia Geforce 740M, which should support CUDA. The OS is Ubuntu 17.04.

I've followed the instructions on here: https://developer.nvidia.com/cuda-downloads?target_os=Linux&target_arch=x86_64&target_distro=Ubuntu&target_version=1704&target_type=deblocal

    `sudo dpkg -i cuda-repo-ubuntu1704-9-0-local_9.0.176-1_amd64.deb`
    `sudo apt-key add /var/cuda-repo-<version>/7fa2af80.pub

[2017-11-24 10:44] kth5 commented on #226
I could compile with Cuda 9.0.176 and GCC 6.4.1 on Archlinux (via gcc6 package) and had no need to get Clang installed at all, no warnings whatsoever. I use this to build myself a package for all my rigs.

[code]

[2017-11-24 11:04] botoxparty opened #227 "./xmr-stak.sh: line 3: /stak/ld-linux-x86-64.so.2: No such file or directory"
hey,

trying to run the xmr-stak combined on an os X system and this is what i'm getting when i try and execute the miner...

[code]

of course i have checked that the file is there and it does exist :S

[2017-11-24 11:21] psychocrypt commented on #226
The best is to use gcnu gcc 5.X and cuda9. I need to try clang again but
you have used a very old clang version. I need to check if clang 4.x
produce the same error.

[2017-11-24 11:22] psychocrypt commented on #227
The poetable bin is for linux only. MacOSX is not supported.
Please compile the miner by hand. Please use the dev branch because there
are a few fixes for macOSX included.

[2017-11-24 12:09] Skayver commented on #214
Is not from hardware, i have same problem on diferent FreeBSD servers.
But on the same servers xmr-stak-cpu work normaly.

cmake .. -DCUDA_ENABLE=OFF -DOpenCL_ENABLE=OFF -DHWLOC_ENABLE=OFF -DCMAKE_BUILD_TYPE=Debug
-- The C compiler identification is Clang 4.0.0
-- The CXX compiler identification is Clang 4.0.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/c

[2017-11-24 12:29] botoxparty commented on #227
Where's the dev branch?
I'm trying to compile the miner by hand however it's not detecting that I have CUDA installed.

`Adams-iMac-3:xmr-stak-master Adam$ cmake -DCMAKE_LINK_STATIC=ON -DXMR-STAK_COMPILE=generic
-- Set miner currency to 'monero' and 'aeon'
CUDA_TOOLKIT_ROOT_DIR not found or specified
-- Could NOT find CUDA (missing: CUDA_TOOLKIT_ROOT_DIR CUDA_NVCC_EXECUTABLE CUDA_INCLUDE_DIRS CUDA

[2017-11-24 12:34] kulmosen opened #228 "XMR-stak compiled under FreeBSD 11.1 throws "hwloc: set_thisthread_membind not supported""
Compiled the xmr-stak with the following commands

cmake .. -DCUDA_ENABLE=OFF -DOpenCL_ENABLE=OFF

make install gives me this result:

`

`

When running the binary it goes through the setup and then tries to run giving me this error message:

`

`

The system is:

FreeBSD KulmosenBSD 11.1-RELEASE FreeBSD 11.1-RELEASE #0 r321309: Fri Jul 21 02:08:28 UTC 2017     root@releng2.nyi.freebsd.org:/usr/o

[2017-11-24 12:44] nikrox2 opened #229 "Not Generating a xmr-stak.exe file"
I have tried (repeatedly) to build xmr-stak on windows. (I have an Intel cpu and an Nvidia GTX 1060)
Instead of making the xmr-stak.exe file, it just makes the xmr-stak-cpu file, every time.
I don't know what to do. Can someone help?
Thanks
Nikila

[2017-11-24 12:48] testingMonero commented on #224
We download hwloc.lib from this github website - https://github.com/fireice-uk/xmr-stak-dep/releases/download/v1/xmr-stak-dep.zip for 1 version and this weblink for 2 version - https://github.com/fireice-uk/xmr-stak-dep/releases/download/v2/xmr-stak-dep.zip

Problem appear be that libhwloc.lib comiled with setting that conflict with visual studio 2015. can you please post source code to libhwloc.l

[2017-11-24 13:08] testingMonero commented on #224
we no use cuda this for mining cpu verison only

[2017-11-24 13:18] xpat07 opened #230 "Support proxy? Socks5"
Cannot connect behind Barracuda firewall.

[2017-11-24 13:20] lisergey commented on #228
same on my 11.1-RELEASE-p4 #0: Tue Nov 14 06:12:40 UTC 2017     root@amd64-builder.daemonology.net:/usr/obj/usr/src/sys/GENERIC  amd64

after launch and questions to make config.file

[2017-11-24 16:17:45] : Start mining: MONERO
[2017-11-24 16:17:45] : CPU configuration stored in file 'cpu.txt'
[2017-11-24 16:17:45] : Starting double thread, affinity: 0.
[2017-11-24 16:17:45] : hwloc: set_thisthre

[2017-11-24 13:23] psychocrypt commented on #224
please compile with visual studio 2017 this will solve the issue.

[2017-11-24 13:24] lisergey commented on #228
but on the same machine works
xmr-stak-cpu 1.3.0-1.5.0 mining software, CPU Version.

[2017-11-24 13:38] testingMonero commented on #224
our lisence no have visual studio. can you provide source code for libhwloc.lib or this close source project? you make modification to original libhwloc-5.dll.

[2017-11-24 13:48] MilosMosovsky commented on #229
Please post you steps, I successfully compiled yesterday. Are you looking to good dir? its in ` build/Release/bin` dir

[2017-11-24 13:54] psychocrypt commented on #224
bisual studio 2017 is free.
You found all source linked under https://github.com/fireice-uk/xmr-stak-dep

[2017-11-24 13:55] psychocrypt commented on #229
please also check you anti virus software. even if you compile it the virus
protection is removing the miner

[2017-11-24 13:57] testingMonero commented on #224
you have make modification to original libhwloc-5.dll which can find here - https://github.com/open-mpi/hwloc

You are exporting different function

there is no source for libhwloc only header file and static library

can you please publish this modification or link for source code? or this is close sourced project? thanks you.

[2017-11-24 14:02] MilosMosovsky opened #231 "Can't compile with GPU on windows"
Hello, @psychocrypt I followed all guides and successfully compiled windows bin, but I am struggling with building only GPU enabled miner. I tried https://github.com/fireice-uk/xmr-stak/blob/master/doc/compile.md

`cmake .. -DCPU_ENABLE=OFF`
`cmake .. -DCUDA_ENABLE=ON`

cmd output is however

[code]

same for CUDA_ENABLE. Resulting binary is trying to mine on CPU automatically, even if GPU and `nv

[2017-11-24 14:07] psychocrypt commented on #224
As I know @fireice_uk did no changes to the code else he would puplish it.
@fireice_uk could you please confirm it.

[2017-11-24 14:10] psychocrypt commented on #231
Please post the full log how you triggered the problem.

[2017-11-24 14:15] simonlui commented on #189
Sorry, stuff came up and I was only able to do a reproduction just a moment ago. The issue for this is because of not doing the last two steps, apparently. I was missing the following commands:

`cd bin\Release
copy C:\xmr-stak-dep\openssl\bin\* .`

Missing either libeay32.dll, which I assume is probably what the error is complaining about, or ssleay32.dll will cause this. I will be closing the is

[2017-11-24 14:15] testingMonero commented on #224
there have changes because original libhwloc-5.dll is not static and libhwloc.lib from xmr-stak and libhwloc-5.dll/lib have different function export. can makes donation if solve. thanks you.

[2017-11-24 14:15] #189 closed

[2017-11-24 14:18] MilosMosovsky commented on #231
1. Downloade/extracted everthing
2. CD to extracted dir
[code]
3. mkdir build
4. cd build

[code]

Then I tried to combine both switches

[code]
5. detected that its not correct so deleted contents of build directory and run again

[code]

am I missing some basic step?